* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: Raleway;
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  html, body {
    background-image: -webkit-gradient(linear, left bottom, right top, from(#FFF4E6), to(#FFF0DE));
    background-image: linear-gradient(to top right, #FFF4E6, #FFF0DE);
  }
}

button {
  outline: none;
  cursor: pointer;
}

code {
  font-family: 'Ubuntu Mono', monospace;
}

b {
  font-weight: 600;
}

a:link {
  text-decoration: none;
}

a:link:hover {
  text-decoration: underline;
}

*:not(a) {
  -webkit-tap-highlight-color: transparent;
}

.container {
  height: 100%;
  position: relative;
}

@media (min-width: 600px) {
  .container {
    width: 600px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 599px) {
  .container {
    width: 100%;
  }
}

.container #sound {
  color: #e1543c;
  font-size: 27px;
  cursor: pointer;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 5;
  top: 45px;
  left: 600px;
  display: none;
  background: rgba(235, 136, 68, 0.2);
}

@media (max-width: 599px) {
  .container #sound {
    font-size: 17px;
  }
}

@media (max-width: 599px) {
  .container #sound {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 599px) {
  .container #sound {
    top: 15px;
    left: 82%;
  }
}

.container #sound::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background: #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes spread {
  0%, 100% {
    top: -13px;
    left: -13px;
    right: -13px;
    bottom: -13px;
  }
  50% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@keyframes spread {
  0%, 100% {
    top: -13px;
    left: -13px;
    right: -13px;
    bottom: -13px;
  }
  50% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@-webkit-keyframes glow {
  0%, 100% {
    background: rgba(235, 136, 68, 0.2);
  }
  50% {
    background: rgba(235, 136, 68, 0.1);
  }
}

@keyframes glow {
  0%, 100% {
    background: rgba(235, 136, 68, 0.2);
  }
  50% {
    background: rgba(235, 136, 68, 0.1);
  }
}

.container #sound.music-on {
  -webkit-animation: glow 1s linear infinite;
          animation: glow 1s linear infinite;
}

.container #sound.music-on::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background: rgba(235, 136, 68, 0.1);
  border-radius: 50%;
  z-index: -1;
  -webkit-transform: none;
          transform: none;
  -webkit-animation: spread 1s linear infinite;
          animation: spread 1s linear infinite;
}

.container .load-anim#outer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
  width: 75px;
  height: 75px;
  border-top-color: transparent;
  -webkit-animation: rotate 3s cubic-bezier(0.23, 1, 0.32, 1) infinite;
          animation: rotate 3s cubic-bezier(0.23, 1, 0.32, 1) infinite;
}

.container .load-anim#outer > :only-child {
  width: 50px;
  height: 50px;
  border-color: #e1543c;
  -webkit-animation: rotate 2s cubic-bezier(0.86, 0, 0.07, 1) infinite;
          animation: rotate 2s cubic-bezier(0.86, 0, 0.07, 1) infinite;
  border-top-color: transparent;
}

.container .load-anim#outer > :only-child > :only-child {
  width: 25px;
  height: 25px;
  border-color: #f5d3ac;
  border-top-color: transparent;
  -webkit-animation: rotate 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) infinite;
          animation: rotate 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) infinite;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.container .load-anim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid;
  border-radius: 50%;
}

.container .name-set-modal {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 15%;
  margin: 0 auto;
  width: 200px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
  padding: 7px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.container .name-set-modal::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 150px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
  bottom: 100.5%;
  left: 25px;
}

.container .name-set-modal::after {
  position: absolute;
  content: '';
  width: 4px;
  height: 150px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
  bottom: 100.5%;
  right: 25px;
}

.container .name-set-modal p {
  font-weight: 600;
  color: #d1d1d1;
  margin-bottom: 5px;
}

.container .name-set-modal input {
  font-family: inherit;
  width: 100%;
  outline: none;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  height: 25px;
  font-size: 16px;
  color: #000;
  padding-left: 7px;
}

.container .name-set-modal input:focus {
  border-color: #e1543c;
}

.container .name-set-modal button {
  outline: none;
  border: none;
  background: #e1543c;
  width: 50px;
  height: 25px;
  margin: 5px auto 0;
  font-weight: 500;
  color: #fff;
  border-radius: 3px;
}

.container .languages-modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  overflow-y: auto;
  margin: 0 auto;
  z-index: 10;
  width: 250px;
  height: 350px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
  padding: 7px 10px 10px;
  display: none;
}

.container .languages-modal p {
  font-weight: 500;
  font-size: 15px;
  color: #d1d1d1;
  padding-bottom: 2px;
  margin-bottom: 5px;
  border-bottom: 1px dotted;
}

.container .languages-modal .avail-langs {
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .languages-modal .avail-langs span {
  margin: 2px 1px;
  padding: 5px 7px;
  border-radius: 32px;
  font-size: 13px;
  font-weight: 600;
  border: 1px solid #e1543c;
}

.container .languages-modal .avail-langs .lang-chosen {
  background: #e1543c;
  color: #fff;
}

.container .languages-modal button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  outline: none;
  border: none;
  background: #e1543c;
  width: 75px;
  height: 40px;
  margin: 5px auto 0;
  font-size: 16px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
  font-weight: 500;
  color: #fff;
  border-radius: 4px;
}

.container .main-pane {
  width: 100%;
  height: 100%;
  background: #fff;
}

@media (max-width: 599px) {
  .container .main-pane {
    width: 100%;
  }
}

.container .main-pane > div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 600px) {
  .container .main-pane > div {
    padding: 0 9%;
  }
}

@media (max-width: 599px) {
  .container .main-pane > div.home, .container .main-pane > div.question-page {
    padding: 0 5%;
  }
}

.container .main-pane > :not(.quiz-question-page):not(.quiz-solution-page) {
  background: url(../img/deep-orange.svg) no-repeat 60% 165%/350px, url(../img/cream.svg) no-repeat 150% 155%/350px, url(../img/orange.svg) no-repeat -50px 125%/350px;
}

@media (max-width: 599px) {
  .container .main-pane > :not(.quiz-question-page):not(.quiz-solution-page) {
    background: url(../img/deep-orange.svg) no-repeat 15vw 90vh/230px, url(../img/cream.svg) no-repeat 50vw 92vh/250px, url(../img/orange.svg) no-repeat -30vw 80vh/250px;
  }
}

@media (min-width: 600px) {
  .container .quote-pane {
    width: 40%;
    height: 100%;
    background: #faf4ed;
  }
}

div.home {
  width: 100%;
}

div.home .logo {
  margin-top: 37px;
  font-size: 50px;
  font-weight: 700;
}

@media (max-width: 599px) {
  div.home .logo {
    font-size: 33px;
    margin-top: 13px;
  }
}

div.home .logo span {
  text-shadow: 0 2px 0 black;
}

div.home .logo span:first-child {
  color: #e1543c;
}

div.home .logo span:last-child {
  color: #f5d3ac;
}

div.home #greet {
  margin-top: 25px;
  line-height: 34px;
  font-weight: 700;
  font-size: 36px;
}

@media (max-width: 599px) {
  div.home #greet {
    line-height: 27px;
    margin-top: 13px;
  }
}

@media (max-width: 599px) {
  div.home #greet {
    font-size: 23px;
  }
}

div.home #greet span:first-child {
  font-weight: 400;
  font-size: 30px;
}

div.home #greet span#firstname {
  color: #e1543c;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: #000;
  font-size: 32px;
}

div.home #greet i#edit-nickname {
  cursor: pointer;
  color: #f5d3ac;
}

@media (min-width: 600px) {
  div.home #greet i#edit-nickname {
    color: silver;
  }
  div.home #greet i#edit-nickname:hover {
    color: #f5d3ac;
  }
}

div.home > p {
  margin-top: 10px;
  font-weight: 600;
}

@media (max-width: 599px) {
  div.home > p {
    font-size: 13px;
  }
}

div.home div.langs-section {
  padding: 0 1%;
  margin-top: 40px;
  padding-bottom: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: auto;
}

@media (max-width: 599px) {
  div.home div.langs-section {
    margin-top: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

div.home div.langs-section .lang-box {
  width: 225px;
  height: 140px;
  border-radius: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
  cursor: pointer;
  -webkit-transition: background .5s ease, -webkit-transform .15s linear;
  transition: background .5s ease, -webkit-transform .15s linear;
  transition: background .5s ease, transform .15s linear;
  transition: background .5s ease, transform .15s linear, -webkit-transform .15s linear;
  margin-bottom: 10px;
  background: #f5d3ac url(../img/deep-orange.svg) no-repeat top -30px right -30px/100px;
}

@media (max-width: 599px) {
  div.home div.langs-section .lang-box {
    width: 94%;
    height: 170px;
    border-radius: 14px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

div.home div.langs-section .lang-box:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.17);
          box-shadow: 0 0px 4px rgba(0, 0, 0, 0.17);
}

@media (max-width: 599px) {
  div.home div.langs-section .lang-box {
    background-position: center -50px;
    background-size: 155px;
  }
}

@media (min-width: 600px) {
  div.home div.langs-section .lang-box:hover {
    background-size: 200px;
  }
}

div.home div.langs-section .lang-box i {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 13px;
  margin-top: 13px;
  color: #000;
  font-size: 35px;
}

@media (max-width: 599px) {
  div.home div.langs-section .lang-box i {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 0;
    margin-top: 20px;
    border: 2px solid #000;
    padding: 10px;
    border-radius: 50%;
  }
}

div.home div.langs-section .lang-box p {
  margin-bottom: 13px;
  margin-left: 17px;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: .5px;
  color: #000;
}

@media (max-width: 599px) {
  div.home div.langs-section .lang-box p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 0;
    font-size: 15px;
    margin-bottom: 15px;
  }
}

div.home div.langs-section .lang-box:last-child {
  background: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #e1543c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 600px) {
  div.home div.langs-section .lang-box:last-child:hover span {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

div.home div.langs-section .lang-box:last-child span {
  color: #fff;
  font-size: 60px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  -webkit-transition: -webkit-transform .15s linear;
  transition: -webkit-transform .15s linear;
  transition: transform .15s linear;
  transition: transform .15s linear, -webkit-transform .15s linear;
}

@media (max-width: 599px) {
  div.home div.langs-section .lang-box:last-child span {
    font-size: 50px;
    font-weight: 300;
    width: 50px;
    height: 50px;
  }
}

div.home div.langs-section .lang-box:last-child p {
  margin: 0 auto;
  font-weight: 500;
}

@media (max-width: 599px) {
  div.home div.langs-section .lang-box:last-child p {
    font-size: 13px;
  }
}

div.quote-pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

div.quote-pane > div.quote-block {
  position: relative;
  width: 90%;
  background-color: #f7ebdd;
  padding: 5px 10px 15px;
  border-radius: 5px;
  overflow: hidden;
}

div.quote-pane > div.quote-block:before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #e1543c;
  top: 0;
  left: 1px;
}

div.quote-pane > div.quote-block:last-child:before {
  left: 99%;
}

div.quote-pane > div.quote-block > p.quote {
  font-style: italic;
  font-size: 21px;
  font-weight: 300;
}

div.quote-pane > div.quote-block:last-child > p.quote {
  text-align: right;
}

div.quote-pane > div.quote-block > p + div.owner-info {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.quote-pane > div.quote-block > p + div.owner-info i {
  font-size: 23px;
}

div.quote-pane > div.quote-block > p + div.owner-info div.info {
  margin-left: 5px;
  font-weight: 600;
  font-size: 13px;
}

div.quote-pane > div.quote-block > p + div.owner-info div.info > p.name span:first-child {
  color: #2e996d;
}

div.quote-pane > div.quote-block > p + div.owner-info div.info > p.name span:last-child {
  color: #e1543c;
}

div.quote-pane > div.quote-block > p + div.owner-info div.info a:link {
  color: black;
}

div.quote-pane > div.quote-block:first-child div.owner-info {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.quiz-levels-page .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.quiz-levels-page .top #back-to-home {
  background: rgba(235, 136, 68, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e1543c;
  font-weight: 600;
  margin-right: 15px;
  cursor: pointer;
}

div.quiz-levels-page .top .center-text {
  text-align: center;
}

div.quiz-levels-page .top .center-text p:first-child {
  text-transform: capitalize;
}

div.quiz-levels-page .levels-section {
  --beginnerComp: 50;
  --intermediateComp: 60;
  --advancedComp: 70;
  --ninjaComp: 80;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

div.quiz-levels-page .levels-section .level-box {
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
  cursor: pointer;
  -webkit-transition: background .5s ease, -webkit-transform .15s linear;
  transition: background .5s ease, -webkit-transform .15s linear;
  transition: background .5s ease, transform .15s linear;
  transition: background .5s ease, transform .15s linear, -webkit-transform .15s linear;
  background: #f5d3ac url(../img/deep-orange.svg) no-repeat center -55px;
}

div.quiz-levels-page .levels-section .level-box:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.17);
          box-shadow: 0 0px 4px rgba(0, 0, 0, 0.17);
}

div.quiz-levels-page .levels-section .level-box .level-bottom-text p:first-child {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

@media (min-width: 600px) {
  div.quiz-levels-page .top {
    height: 150px;
  }
  div.quiz-levels-page .top #back-to-home {
    width: 17%;
    height: 50px;
    border-radius: 32px;
  }
  div.quiz-levels-page .top div:empty {
    width: 17%;
  }
  div.quiz-levels-page .top .center-text {
    width: 67%;
  }
  div.quiz-levels-page .top .center-text p:first-child {
    font-size: 36px;
    font-weight: 700;
  }
  div.quiz-levels-page .top .center-text p:last-child {
    font-size: 17px;
    font-weight: 600;
    margin-top: 5px;
  }
  div.quiz-levels-page .levels-section {
    padding: 0 2%;
    margin-top: 50px;
    width: 100%;
  }
  div.quiz-levels-page .levels-section .level-box {
    width: 225px;
    height: 140px;
    border-radius: 27px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.quiz-levels-page .levels-section .level-box:nth-child(n) {
    background-position: top -30px right -30px;
    background-size: 100px;
  }
  div.quiz-levels-page .levels-section .level-box:hover {
    background-size: 200px;
  }
  div.quiz-levels-page .levels-section .level-box i {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 13px;
    margin-top: 13px;
    color: #000;
    font-size: 35px;
  }
  div.quiz-levels-page .levels-section .level-box .level-bottom-text {
    margin-bottom: 13px;
    margin-left: 17px;
  }
  div.quiz-levels-page .levels-section .level-box .level-bottom-text p {
    font-weight: 500;
    font-size: 17px;
  }
  div.quiz-levels-page .levels-section .level-box .level-bottom-text p:first-child {
    display: inline;
    font-size: 23px;
  }
}

@media (max-width: 599px) {
  div.quiz-levels-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.quiz-levels-page .top {
    padding: 0 6%;
    width: 100%;
    position: fixed;
    top: 0;
    height: 70px;
    border-radius: 0 0 15px 15px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
  div.quiz-levels-page .top #back-to-home {
    width: 23%;
    height: 40px;
    border-radius: 32px;
    font-size: 13px;
  }
  div.quiz-levels-page .top div:empty {
    width: 23%;
  }
  div.quiz-levels-page .top .center-text {
    width: 54%;
  }
  div.quiz-levels-page .top .center-text p:first-child {
    font-size: 18px;
    font-weight: 700;
  }
  div.quiz-levels-page .top .center-text p:last-child {
    font-size: 13px;
    font-weight: 600;
    margin-top: 3px;
  }
  div.quiz-levels-page .levels-section {
    padding: 0 6%;
    margin-top: 50px;
  }
  div.quiz-levels-page .levels-section .level-box {
    width: 94%;
    height: 185px;
    border-radius: 14px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-size: 155px;
  }
  div.quiz-levels-page .levels-section .level-box .comp-div {
    width: 60px;
    height: 60px;
    position: relative;
    margin-top: 15px;
  }
  div.quiz-levels-page .levels-section .level-box .comp-div div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.quiz-levels-page .levels-section .level-box .comp-div svg {
    width: 100%;
    height: 100%;
  }
  div.quiz-levels-page .levels-section .level-box .comp-div svg circle {
    stroke: #e1543c;
    stroke-width: 7px;
    stroke-linecap: round;
  }
  div.quiz-levels-page .levels-section .level-box .comp-div svg circle:last-child {
    stroke: #f5d3ac;
    stroke-dasharray: 160;
    stroke-dashoffset: 160;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: stroke-dashoffset 1s cubic-bezier(0.23, 1, 0.32, 1);
  }
  div.quiz-levels-page .levels-section .level-box:nth-child(1) .comp-div circle:last-child {
    stroke-dashoffset: calc(160 - (160 * 0) / 100);
  }
  div.quiz-levels-page .levels-section .level-box:nth-child(2) .comp-div circle:last-child {
    stroke-dashoffset: calc(160 - (160 * 0) / 100);
  }
  div.quiz-levels-page .levels-section .level-box:nth-child(3) .comp-div circle:last-child {
    stroke-dashoffset: calc(160 - (160 * 0) / 100);
  }
  div.quiz-levels-page .levels-section .level-box:nth-child(4) .comp-div circle:last-child {
    stroke-dashoffset: calc(160 - (160 * 0) / 100);
  }
  div.quiz-levels-page .levels-section .level-box .level-bottom-text {
    text-align: center;
    margin-bottom: 17px;
  }
  div.quiz-levels-page .levels-section .level-box .level-bottom-text p {
    font-weight: 500;
    font-size: 14px;
  }
  div.quiz-levels-page .levels-section .level-box .level-bottom-text p:first-child {
    font-size: 18px;
  }
}

div.quiz-modules-page .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.quiz-modules-page .top #back-to-levels {
  cursor: pointer;
  background: rgba(235, 136, 68, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e1543c;
  font-weight: 600;
  margin-right: 17px;
}

div.quiz-modules-page .top .center-text {
  text-align: center;
}

div.quiz-modules-page .top .center-text p:first-child {
  text-transform: capitalize;
}

div.quiz-modules-page .top .center-text p:last-child {
  border-top: 1px dotted #000;
  border-bottom: 1px dotted #000;
  display: inline-block;
}

div.quiz-modules-page .modules-section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.quiz-modules-page .modules-section .module-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 17px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
}

div.quiz-modules-page .modules-section .module-box .module-score {
  margin-bottom: 5px;
}

div.quiz-modules-page .modules-section .module-box .start-module-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e1543c;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
}

div.quiz-modules-page .modules-section .module-box.pass .module-score {
  color: #d3a507;
}

div.quiz-modules-page .modules-section .module-box.fail .module-score {
  color: #f11010;
}

div.quiz-modules-page .modules-section .module-box.excel .module-score {
  color: #2e996d;
}

@media (min-width: 600px) {
  div.quiz-modules-page .top {
    height: 150px;
  }
  div.quiz-modules-page .top #back-to-levels {
    width: 17%;
    height: 50px;
    border-radius: 32px;
  }
  div.quiz-modules-page .top div:empty {
    width: 17%;
  }
  div.quiz-modules-page .top .center-text {
    width: 67%;
  }
  div.quiz-modules-page .top .center-text p:first-child {
    font-size: 36px;
    font-weight: 700;
  }
  div.quiz-modules-page .top .center-text p:last-child {
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
  }
  div.quiz-modules-page .modules-section {
    overflow-y: auto;
    width: 100%;
    margin-top: 50px;
    padding: 0 1%;
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.quiz-modules-page .modules-section .module-box {
    width: 150px;
    padding: 15px 0 17px 20px;
  }
  div.quiz-modules-page .modules-section .module-box:nth-child(3n - 1) {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  div.quiz-modules-page .modules-section .module-box .module-num {
    font-size: 20px;
    font-weight: 700;
  }
  div.quiz-modules-page .modules-section .module-box .module-score {
    font-size: 19px;
    font-weight: 500;
  }
  div.quiz-modules-page .modules-section .module-box .start-module-btn {
    width: 70px;
    height: 35px;
    font-size: 13px;
  }
}

@media (max-width: 599px) {
  div.quiz-modules-page {
    overflow-y: auto;
  }
  div.quiz-modules-page .top {
    position: fixed;
    top: 0;
    background: #fff;
    padding: 0 6%;
    width: 100%;
    height: 70px;
    border-radius: 0 0 15px 15px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
  div.quiz-modules-page .top #back-to-levels {
    width: 23%;
    height: 40px;
    border-radius: 32px;
    font-size: 13px;
  }
  div.quiz-modules-page .top div:empty {
    width: 23%;
  }
  div.quiz-modules-page .top .center-text {
    width: 54%;
  }
  div.quiz-modules-page .top .center-text p:first-child {
    font-size: 18px;
    font-weight: 700;
  }
  div.quiz-modules-page .top .center-text p:last-child {
    font-size: 14px;
    font-weight: 600;
    margin-top: 3px;
  }
  div.quiz-modules-page .modules-section {
    padding: 0 5%;
    width: 100%;
    margin-top: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.quiz-modules-page .modules-section .module-box {
    width: 135px;
    padding: 10px 0 12px 15px;
    margin: 0 10px 15px 0;
  }
  div.quiz-modules-page .modules-section .module-box .module-num {
    font-size: 18px;
    font-weight: 700;
  }
  div.quiz-modules-page .modules-section .module-box .module-score {
    font-size: 17px;
    font-weight: 500;
  }
  div.quiz-modules-page .modules-section .module-box .start-module-btn {
    width: 65px;
    height: 30px;
    font-size: 13px;
  }
}

div.quiz-question-page {
  position: relative;
  /* Laptop */
  /* Mobile */
}

div.quiz-question-page #big-lang-icon {
  position: absolute;
  color: rgba(225, 84, 60, 0.1);
}

div.quiz-question-page .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.quiz-question-page .top #back-to-modules {
  background: rgba(235, 136, 68, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e1543c;
  font-weight: 600;
  margin-right: 15px;
  cursor: pointer;
}

div.quiz-question-page .top .center-text {
  text-align: center;
}

div.quiz-question-page .top .center-text p:first-child {
  text-transform: capitalize;
}

div.quiz-question-page .top .center-text p:last-child {
  border-top: 1px dotted #000;
  border-bottom: 1px dotted #000;
  display: inline-block;
}

div.quiz-question-page .question-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.quiz-question-page .question-top .progress {
  width: 80%;
}

div.quiz-question-page .question-top .progress .progress-bar {
  width: 100%;
  background: #f5d3ac;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

div.quiz-question-page .question-top .progress .progress-bar .progress-tracker-bar {
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
  bottom: 0;
  right: var(--progress);
  background: #e1543c;
  -webkit-transition: right .5s ease;
  transition: right .5s ease;
}

div.quiz-question-page .question-top .progress .progress-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -2px;
}

div.quiz-question-page .question-top .progress .progress-details div:first-child {
  -webkit-font-feature-settings: "lnum" 1;
          font-feature-settings: "lnum" 1;
  font-weight: 600;
}

div.quiz-question-page .question-top .progress .progress-details div:first-child span:nth-child(1) {
  color: #e1543c;
}

div.quiz-question-page .question-top .progress .progress-details div:first-child span:nth-child(2) {
  display: inline-block;
  -webkit-transform: translate(1px, -2px) rotate(15deg);
          transform: translate(1px, -2px) rotate(15deg);
  margin-right: 1px;
}

div.quiz-question-page .question-top .progress .progress-details div:last-child {
  font-weight: 600;
}

div.quiz-question-page .question-top .progress .progress-details div:last-child span:first-child {
  color: #e1543c;
}

div.quiz-question-page .question-top .progress .progress-details div:last-child span:first-child + span {
  color: #e1543c;
}

div.quiz-question-page .question-top .timer {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.quiz-question-page .question-top .timer p {
  font-weight: 600;
  color: #e1543c;
}

div.quiz-question-page #question-section {
  width: 100%;
}

div.quiz-question-page #question-section .question-statement-with-code {
  margin-bottom: 4px;
}

div.quiz-question-page #question-section .question-statement-without-code {
  margin-bottom: 13px;
}

div.quiz-question-page #question-section #code-block {
  border-top: 1px dotted #adadad;
  padding: 4px 0;
  border-bottom: 1px dotted #adadad;
}

div.quiz-question-page #question-section #code-block code {
  font-family: 'Ubuntu Mono', monospace;
  border-radius: 5px;
  overscroll-behavior: none;
}

div.quiz-question-page #question-section #what-to-do {
  color: #adadad;
  margin: 3px 0;
}

div.quiz-question-page #question-section .options {
  --boxStyle: 50%;
}

div.quiz-question-page #question-section .options .option {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #f5d3ac;
  border-radius: 32px;
  position: relative;
}

div.quiz-question-page #question-section .options .option p {
  font-weight: 500;
  line-height: 20px;
}

div.quiz-question-page #question-section .options .option div {
  position: absolute;
  border-radius: var(--boxStyle);
  margin: auto 0;
  border: 3px solid #f5d3ac;
}

div.quiz-question-page #question-section .options .option div.selected::after {
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  content: '\f00c';
  font-weight: 900;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1543c;
  border-radius: var(--boxStyle);
}

div.quiz-question-page #question-section .options .option div.selected::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(235, 136, 68, 0.5);
  border-radius: var(--boxStyle);
}

@-webkit-keyframes checkAnim {
  0% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  50% {
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
  }
  100% {
    opacity: 0;
  }
}

@keyframes checkAnim {
  0% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  50% {
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
  }
  100% {
    opacity: 0;
  }
}

div.quiz-question-page .bottom {
  padding: 0 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.quiz-question-page .bottom p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.quiz-question-page .bottom p:not(:nth-child(2)) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.quiz-question-page .bottom p:not(:nth-child(2)) a {
  font-weight: 500;
}

div.quiz-question-page .bottom p:not(:nth-child(2)) a:link {
  color: #adadad;
}

div.quiz-question-page .bottom p:not(:nth-child(2)) i {
  color: #e1543c;
}

div.quiz-question-page .bottom p:nth-child(2) {
  background: url(../img/deep-orange.svg) no-repeat 5px -40px/50px, #f5d3ac url(../img/deep-orange.svg) no-repeat right 5px bottom -40px/50px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
}

@media (min-width: 600px) {
  div.quiz-question-page {
    overflow-y: auto;
  }
  div.quiz-question-page #big-lang-icon {
    right: 4%;
    top: 150px;
    font-size: 155px;
  }
  div.quiz-question-page .top {
    height: 150px;
  }
  div.quiz-question-page .top #back-to-modules {
    width: 17%;
    height: 50px;
    border-radius: 32px;
  }
  div.quiz-question-page .top div:empty {
    width: 17%;
  }
  div.quiz-question-page .top .center-text {
    width: 67%;
  }
  div.quiz-question-page .top .center-text p:first-child {
    font-size: 36px;
    font-weight: 700;
  }
  div.quiz-question-page .top .center-text p:last-child {
    font-size: 17px;
    font-weight: 600;
    margin-top: 5px;
  }
  div.quiz-question-page .question-top {
    height: 30px;
  }
  div.quiz-question-page .question-top .progress .progress-bar {
    height: 7px;
  }
  div.quiz-question-page .question-top .progress .progress-details div:first-child span:nth-child(1) {
    font-size: 27px;
  }
  div.quiz-question-page .question-top .progress .progress-details div:first-child span:nth-child(2) {
    font-size: 25px;
  }
  div.quiz-question-page .question-top .progress .progress-details div:first-child span:nth-child(3) {
    font-size: 18px;
  }
  div.quiz-question-page .question-top .progress .progress-details div:last-child {
    font-size: 13px;
  }
  div.quiz-question-page .question-top .progress .progress-details div:last-child .count {
    font-size: 18px;
  }
  div.quiz-question-page .question-top .timer i {
    font-size: 37px;
  }
  div.quiz-question-page .question-top .timer p {
    font-size: 17px;
  }
  div.quiz-question-page #question-section {
    margin-top: 20px;
  }
  div.quiz-question-page #question-section .question-statement-with-code, div.quiz-question-page #question-section .question-statement-without-code {
    font-size: 19px;
  }
  div.quiz-question-page #question-section #code-block {
    font-size: 19px;
  }
  div.quiz-question-page #question-section #code-block code {
    max-height: 125px;
  }
  div.quiz-question-page #question-section #what-to-do {
    font-size: 15px;
  }
  div.quiz-question-page #question-section .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  div.quiz-question-page #question-section .options .option {
    width: 240px;
    height: 45px;
    margin: 5px 0;
  }
  div.quiz-question-page #question-section .options .option p {
    margin-left: 23px;
    font-size: 20px;
  }
  div.quiz-question-page #question-section .options .option div {
    top: 15%;
    bottom: 15%;
    right: 3%;
    height: 28px;
    width: 28px;
  }
  div.quiz-question-page #question-section .options .option div.selected::after {
    font-size: 12px;
  }
  div.quiz-question-page #question-section .options .option div.selected::before {
    -webkit-animation: checkAnim .7s ease 1;
            animation: checkAnim .7s ease 1;
  }
  div.quiz-question-page .bottom {
    margin-top: 20px;
  }
  div.quiz-question-page .bottom p:not(:nth-child(2)) i {
    font-size: 23px;
  }
  div.quiz-question-page .bottom p:not(:nth-child(2)) a {
    margin-left: 5px;
    font-size: 13px;
  }
  div.quiz-question-page .bottom p:nth-child(2) {
    width: 110px;
    height: 60px;
    border-radius: 50px;
    font-size: 17px;
  }
}

@media (max-width: 599px) {
  div.quiz-question-page {
    overflow-y: auto;
    position: relative;
  }
  div.quiz-question-page #big-lang-icon {
    right: 0;
    top: 75px;
    font-size: 125px;
  }
  div.quiz-question-page .top {
    position: fixed;
    top: 0;
    z-index: 1;
    background: #fff;
    padding: 0 6%;
    width: 100%;
    height: 70px;
    border-radius: 0 0 15px 15px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
  div.quiz-question-page .top #back-to-modules {
    width: 23%;
    height: 40px;
    border-radius: 32px;
    font-size: 13px;
  }
  div.quiz-question-page .top div:empty {
    width: 23%;
  }
  div.quiz-question-page .top .center-text {
    width: 54%;
  }
  div.quiz-question-page .top .center-text p:first-child {
    font-size: 20px;
    font-weight: 700;
  }
  div.quiz-question-page .top .center-text p:last-child {
    font-size: 13px;
    font-weight: 600;
    margin-top: 3px;
  }
  div.quiz-question-page .question-top {
    padding: 0 6%;
    height: 50px;
    margin-top: 75px;
  }
  div.quiz-question-page .question-top .progress .progress-bar {
    height: 6px;
  }
  div.quiz-question-page .question-top .progress .progress-details div:first-child span:nth-child(1) {
    font-size: 23px;
  }
  div.quiz-question-page .question-top .progress .progress-details div:first-child span:nth-child(2) {
    font-size: 21px;
  }
  div.quiz-question-page .question-top .progress .progress-details div:first-child span:nth-child(3) {
    font-size: 15px;
  }
  div.quiz-question-page .question-top .progress .progress-details div:last-child {
    font-size: 12px;
  }
  div.quiz-question-page .question-top .progress .progress-details div:last-child .count {
    font-size: 16px;
  }
  div.quiz-question-page .question-top .timer i {
    font-size: 25px;
  }
  div.quiz-question-page .question-top .timer p {
    font-size: 13px;
  }
  div.quiz-question-page #question-section {
    padding: 0 7%;
  }
  div.quiz-question-page #question-section .question-statement-with-code {
    font-size: 17px;
  }
  div.quiz-question-page #question-section .question-statement-without-code {
    font-size: 19px;
  }
  div.quiz-question-page #question-section #code-block {
    font-size: 15px;
  }
}

@media (max-width: 599px) and (min-height: 534px) {
  div.quiz-question-page #question-section #code-block {
    font-size: 17px;
  }
}

@media (max-width: 599px) {
  div.quiz-question-page #question-section #code-block code {
    max-height: 100px;
  }
  div.quiz-question-page #question-section #what-to-do {
    font-size: 13px;
  }
  div.quiz-question-page #question-section .options {
    width: 97%;
    margin: 0 auto;
  }
  div.quiz-question-page #question-section .options .option {
    height: 40px;
  }
  div.quiz-question-page #question-section .options .option:not(:last-child) {
    margin: 5px 0;
  }
  div.quiz-question-page #question-section .options .option p {
    margin-left: 20px;
    font-size: 17px;
  }
  div.quiz-question-page #question-section .options .option div {
    top: 5px;
    bottom: 5px;
    right: 7px;
    width: 24px;
  }
  div.quiz-question-page #question-section .options .option div.selected::after {
    font-size: 10px;
  }
  div.quiz-question-page #question-section .options .option div.selected::before {
    -webkit-animation: checkAnim .5s ease 1;
            animation: checkAnim .5s ease 1;
  }
  div.quiz-question-page .bottom {
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
  div.quiz-question-page .bottom p:empty:first-child {
    width: 74.92px;
  }
  div.quiz-question-page .bottom p:empty:last-child {
    width: 64.08px;
  }
  div.quiz-question-page .bottom p:not(:nth-child(2)) a {
    margin-left: 2px;
    font-size: 10px;
  }
  div.quiz-question-page .bottom p:not(:nth-child(2)) i {
    font-size: 23px;
    margin-bottom: 5px;
  }
  div.quiz-question-page .bottom p:nth-child(2) {
    width: 100px;
    height: 50px;
    border-radius: 32px;
  }
}

div.quiz-solution-page .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.quiz-solution-page .top #back-to-modules {
  cursor: pointer;
  background: rgba(235, 136, 68, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e1543c;
  font-weight: 600;
  margin-right: 17px;
}

div.quiz-solution-page .top .center-text {
  text-align: center;
}

div.quiz-solution-page .top .center-text p:first-child {
  text-transform: capitalize;
}

div.quiz-solution-page .top .center-text p:last-child {
  border-top: 1px dotted #000;
  border-bottom: 1px dotted #000;
  display: inline-block;
}

@media (max-width: 599px) {
  div.quiz-solution-page {
    overflow-y: auto;
  }
  div.quiz-solution-page .top {
    position: fixed;
    top: 0;
    z-index: 1;
    background: #fff;
    padding: 0 6%;
    width: 100%;
    height: 70px;
    border-radius: 0 0 15px 15px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
  div.quiz-solution-page .top #back-to-modules {
    width: 23%;
    height: 40px;
    border-radius: 32px;
    font-size: 13px;
  }
  div.quiz-solution-page .top div:empty {
    width: 23%;
  }
  div.quiz-solution-page .top .center-text {
    width: 54%;
  }
  div.quiz-solution-page .top .center-text p:first-child {
    font-size: 16px;
    font-weight: 700;
  }
  div.quiz-solution-page .top .center-text p:first-child span {
    font-size: 13px;
    font-weight: 600;
  }
  div.quiz-solution-page .top .center-text p:last-child {
    font-size: 13px;
    font-weight: 600;
    margin-top: 3px;
  }
  div.quiz-solution-page .solution-section {
    padding: 0 4%;
    margin-top: 80px;
  }
  div.quiz-solution-page .solution-section .filter-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.quiz-solution-page .solution-section .filter-div .filter-options {
    border: 1px solid #e1543c;
    border-radius: 5px;
    font-size: 13px;
    color: #e1543c;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.quiz-solution-page .solution-section .filter-div .filter-options span {
    padding: 2px 10px;
  }
  div.quiz-solution-page .solution-section .filter-div .filter-options span:nth-child(2) {
    position: relative;
  }
  div.quiz-solution-page .solution-section .filter-div .filter-options span:nth-child(2)::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    background: #e1543c;
  }
  div.quiz-solution-page .solution-section .filter-div .filter-options span:nth-child(2)::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: #e1543c;
  }
  div.quiz-solution-page .solution-section .filter-div .filter-options span:nth-child(3) {
    position: relative;
  }
  div.quiz-solution-page .solution-section .filter-div .filter-options span:nth-child(3)::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: #e1543c;
  }
  div.quiz-solution-page .solution-section .filter-div .filter-options span.selected {
    background: #e1543c;
    color: #fff;
  }
  div.quiz-solution-page .solution-section .overview {
    margin-top: 20px;
  }
  div.quiz-solution-page .solution-section .overview > p {
    font-weight: 600;
  }
  div.quiz-solution-page .solution-section .overview .overview-box {
    margin-top: 10px;
    width: 100%;
    background: #f5d3ac;
    padding: 0 15px;
    border: 1px solid transparent;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
  }
  div.quiz-solution-page .solution-section .overview .overview-box div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 500;
  }
  div.quiz-solution-page .solution-section .answer-solutions {
    margin-top: 15px;
  }
  div.quiz-solution-page .solution-section .answer-solutions > p {
    font-weight: 600;
  }
  div.quiz-solution-page .solution-section .answer-solutions > p.notification {
    text-align: center;
    font-size: 17px;
    color: #d1d1d1;
    margin: 15px 0;
  }
  div.quiz-solution-page .solution-section .answer-solutions .solution-box {
    margin: 10px 0;
    width: 100%;
    background: #f5d3ac;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
  }
  div.quiz-solution-page .solution-section .answer-solutions .solution-box b {
    font-weight: 600;
  }
  div.quiz-solution-page .solution-section .answer-solutions .solution-box .question-statement-with-code {
    font-size: 17px;
  }
  div.quiz-solution-page .solution-section .answer-solutions .solution-box .question-statement-without-code {
    font-size: 19px;
    margin-bottom: 10px;
  }
  div.quiz-solution-page .solution-section .answer-solutions .solution-box .code-block {
    margin: 10px 0;
    font-size: 17px;
  }
  div.quiz-solution-page .solution-section .answer-solutions .solution-box .code-block code {
    border-radius: 7px;
    max-height: 200px;
  }
  div.quiz-solution-page .solution-section .answer-solutions .solution-box p[class*=answer] {
    font-weight: 400;
    font-size: 17px;
  }
  div.quiz-solution-page .solution-section .answer-solutions .solution-box p[class*=answer] .correct-mark {
    color: green;
  }
  div.quiz-solution-page .solution-section .answer-solutions .solution-box p[class*=answer] .incorrect-mark {
    color: red;
  }
  div.quiz-solution-page .solution-section .answer-solutions .solution-box div.explanation {
    background: #f0bb7e;
    margin: 5px 0;
    padding: 5px 0 5px 7px;
    border-radius: 3px;
    font-size: 17px;
  }
  div.quiz-solution-page .solution-section .answer-solutions .solution-box p.links {
    font-weight: 500;
    font-size: 15px;
  }
  div.quiz-solution-page .solution-section .answer-solutions .solution-box p.links a {
    text-decoration: underline;
  }
  div.quiz-solution-page .quote-section > p:first-child {
    font-weight: 600;
    margin-bottom: 5px;
  }
  div.quiz-solution-page .quote-section div.quote-block {
    position: relative;
    width: 100%;
    background-color: #f5d3ac;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
    padding: 5px 10px 15px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  div.quiz-solution-page .quote-section div.quote-block:before {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #e1543c;
    top: 0;
    left: 0;
    bottom: 0;
  }
  div.quiz-solution-page .quote-section div.quote-block > p.quote {
    font-style: italic;
    font-size: 21px;
  }
  div.quiz-solution-page .quote-section div.quote-block div.owner-info {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.quiz-solution-page .quote-section div.quote-block div.owner-info i {
    font-size: 23px;
  }
  div.quiz-solution-page .quote-section div.quote-block div.owner-info div.info {
    margin-left: 5px;
    font-weight: 600;
    font-size: 13px;
  }
  div.quiz-solution-page .quote-section div.quote-block div.owner-info div.info > p.name span:first-child {
    color: #000;
  }
  div.quiz-solution-page .quote-section div.quote-block div.owner-info div.info > p.name span:last-child {
    color: #e1543c;
  }
  div.quiz-solution-page .quote-section div.quote-block div.owner-info div.info a:link {
    color: black;
    text-decoration: underline;
  }
  div.quiz-solution-page .quote-section div.quote-block div.owner-info {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
/*# sourceMappingURL=style.css.map */