* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Raleway;
}

html, body {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#FFF4E6), to(#FFF0DE));
  background-image: linear-gradient(to top right, #FFF4E6, #FFF0DE);
}

a:link {
  text-decoration: none;
}

a:link:hover {
  text-decoration: underline;
}

.container {
  height: 100%;
}

@media (min-width: 650px) {
  .container {
    width: 600px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 650px) {
  .container {
    width: 100%;
  }
}

.container .main-pane {
  width: 100%;
  height: 100%;
  background: #fff;
}

@media (max-width: 650px) {
  .container .main-pane {
    width: 100%;
  }
}

.container .main-pane > div {
  width: 100%;
  height: 100%;
  padding: 0 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .main-pane > :not(.modules):not(.question) {
  background: url(../img/deep-orange.svg) no-repeat 60% 165%/350px, url(../img/cream.svg) no-repeat 150% 155%/350px, url(../img/orange.svg) no-repeat -50px 125%/350px;
}

@media (max-width: 650px) {
  .container .main-pane > :not(.modules):not(.question) {
    background: url(../img/deep-orange.svg) no-repeat 60% 145%/230px, url(../img/cream.svg) no-repeat 250% 155%/250px, url(../img/orange.svg) no-repeat -80px 130%/250px;
  }
}

@media (min-width: 650px) {
  .container .quote-pane {
    width: 40%;
    height: 100%;
    background: #faf4ed;
  }
}

div.home {
  width: 100%;
}

div.home .top {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 650px) {
  div.home .top {
    margin-top: 20px;
  }
}

div.home .top .clickables {
  font-size: 27px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e1543c;
}

@media (max-width: 650px) {
  div.home .top .clickables {
    width: 100px;
    font-size: 17px;
  }
}

div.home .top .clickables i {
  cursor: pointer;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 650px) {
  div.home .top .clickables i {
    width: 40px;
    height: 40px;
  }
}

div.home .top .clickables i:first-child {
  position: relative;
  background: rgba(235, 136, 68, 0.3);
  -webkit-animation: glow 1s linear infinite;
          animation: glow 1s linear infinite;
}

div.home .top .clickables i:first-child::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(235, 136, 68, 0.1);
  border-radius: 50%;
  z-index: -0.1;
  -webkit-animation: spread 1s linear infinite;
          animation: spread 1s linear infinite;
}

@-webkit-keyframes spread {
  0%, 100% {
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
  }
  50% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@keyframes spread {
  0%, 100% {
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
  }
  50% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@-webkit-keyframes glow {
  0%, 100% {
    background: rgba(235, 136, 68, 0.3);
  }
  50% {
    background: rgba(235, 136, 68, 0.2);
  }
}

@keyframes glow {
  0%, 100% {
    background: rgba(235, 136, 68, 0.3);
  }
  50% {
    background: rgba(235, 136, 68, 0.2);
  }
}

div.home .top .clickables i:last-child {
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: background .3s ease, color .3s ease;
  transition: background .3s ease, color .3s ease;
}

div.home .top .clickables i:last-child:hover {
  background: #e1543c;
  color: #fff;
}

div.home .top .logo {
  font-size: 50px;
  font-weight: 700;
}

@media (max-width: 650px) {
  div.home .top .logo {
    font-size: 33px;
  }
}

div.home .top .logo span {
  text-shadow: 0 2px 0 black;
}

div.home .top .logo span:first-child {
  color: #e1543c;
}

div.home .top .logo span:last-child {
  color: #2e996d;
}

div.home #greet {
  margin-top: 25px;
  line-height: 34px;
  font-weight: 800;
  font-size: 36px;
}

@media (max-width: 650px) {
  div.home #greet {
    line-height: 23px;
    margin-top: 13px;
  }
}

@media (max-width: 650px) {
  div.home #greet {
    font-size: 23px;
  }
}

div.home #greet span:first-child {
  font-weight: 500;
}

div.home #greet span:last-child {
  color: #2e996d;
}

div.home > p {
  margin-top: 10px;
  font-weight: 600;
}

@media (max-width: 650px) {
  div.home > p {
    font-size: 13px;
  }
}

div.home div.langs-section {
  margin-top: 90px;
  padding: 10px 0;
  width: 100%;
  height: 375px;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  overflow-y: auto;
}

@media (max-width: 650px) {
  div.home div.langs-section {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    margin-top: 40px;
  }
}

div.home div.langs-section .lang-box {
  width: 225px;
  height: 140px;
  border-radius: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
  cursor: pointer;
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
}

@media (max-width: 650px) {
  div.home div.langs-section .lang-box {
    width: 230px;
    height: 125px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
  }
}

div.home div.langs-section .lang-box:nth-child(even) {
  background: #2e996d url(../img/deep-orange.svg) no-repeat top -30px right -30px/100px;
}

div.home div.langs-section .lang-box:nth-child(odd) {
  background: #e1543c url(../img/green.svg) no-repeat bottom -30px left -30px/100px;
}

@media (min-width: 650px) {
  div.home div.langs-section .lang-box:hover {
    background-size: 200px;
  }
}

div.home div.langs-section .lang-box i {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 13px;
  margin-top: 13px;
  color: #fff;
  font-size: 35px;
  -webkit-transition: font-size .25s linear;
  transition: font-size .25s linear;
}

div.home div.langs-section .lang-box p {
  margin-bottom: 13px;
  margin-left: 17px;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: .5px;
  color: #fff;
}

div.home div.langs-section .lang-box:nth-child(even) {
  margin-left: auto;
}

div.quote-pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

div.quote-pane > div.quote-block {
  position: relative;
  width: 90%;
  background-color: #f7ebdd;
  padding: 5px 10px 15px;
  border-radius: 5px;
  overflow: hidden;
}

div.quote-pane > div.quote-block:before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #e1543c;
  top: 0;
  left: 1px;
}

div.quote-pane > div.quote-block:last-child:before {
  left: 99%;
}

div.quote-pane > div.quote-block > p.quote {
  font-style: italic;
  font-size: 21px;
  font-weight: 300;
}

div.quote-pane > div.quote-block:last-child > p.quote {
  text-align: right;
}

div.quote-pane > div.quote-block > p + div.owner-info {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.quote-pane > div.quote-block > p + div.owner-info i {
  font-size: 23px;
}

div.quote-pane > div.quote-block > p + div.owner-info div.info {
  margin-left: 5px;
  font-weight: 600;
  font-size: 13px;
}

div.quote-pane > div.quote-block > p + div.owner-info div.info > p.name span:first-child {
  color: #2e996d;
}

div.quote-pane > div.quote-block > p + div.owner-info div.info > p.name span:last-child {
  color: #e1543c;
}

div.quote-pane > div.quote-block > p + div.owner-info div.info a:link {
  color: black;
}

div.quote-pane > div.quote-block:first-child div.owner-info {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=style.css.map */