* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Raleway;
}

html, body {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#FFF4E6), to(#FFF0DE));
  background-image: linear-gradient(to top right, #FFF4E6, #FFF0DE);
}

a:link {
  text-decoration: none;
}

a:link:hover {
  text-decoration: underline;
}

*:not(a) {
  -webkit-tap-highlight-color: transparent;
}

.container {
  height: 100%;
}

@media (min-width: 650px) {
  .container {
    width: 600px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 650px) {
  .container {
    width: 100%;
  }
}

.container .main-pane {
  width: 100%;
  height: 100%;
  background: #fff;
  position: relative;
}

@media (max-width: 650px) {
  .container .main-pane {
    width: 100%;
  }
}

.container .main-pane > div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 650px) {
  .container .main-pane > div {
    padding: 0 9%;
  }
}

@media (max-width: 650px) {
  .container .main-pane > div.home, .container .main-pane > div.question-page {
    padding: 0 5%;
  }
}

.container .main-pane > :not(.question-page) {
  background: url(../img/deep-orange.svg) no-repeat 60% 165%/350px, url(../img/cream.svg) no-repeat 150% 155%/350px, url(../img/orange.svg) no-repeat -50px 125%/350px;
}

@media (max-width: 650px) {
  .container .main-pane > :not(.question-page) {
    background: url(../img/deep-orange.svg) no-repeat 60% 145%/230px, url(../img/cream.svg) no-repeat 250% 155%/250px, url(../img/orange.svg) no-repeat -80px 130%/250px;
  }
}

.container .main-pane #sound {
  color: #e1543c;
  font-size: 27px;
  cursor: pointer;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 42px;
  left: 82%;
  background: rgba(235, 136, 68, 0.3);
  -webkit-animation: glow 1s linear infinite;
          animation: glow 1s linear infinite;
}

@media (max-width: 650px) {
  .container .main-pane #sound {
    font-size: 17px;
  }
}

@media (max-width: 650px) {
  .container .main-pane #sound {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 650px) {
  .container .main-pane #sound {
    top: 19px;
  }
}

.container .main-pane #sound::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(235, 136, 68, 0.1);
  border-radius: 50%;
  z-index: -0.1;
  -webkit-animation: spread 1s linear infinite;
          animation: spread 1s linear infinite;
}

@-webkit-keyframes spread {
  0%, 100% {
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
  }
  50% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@keyframes spread {
  0%, 100% {
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
  }
  50% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@-webkit-keyframes glow {
  0%, 100% {
    background: rgba(235, 136, 68, 0.3);
  }
  50% {
    background: rgba(235, 136, 68, 0.2);
  }
}

@keyframes glow {
  0%, 100% {
    background: rgba(235, 136, 68, 0.3);
  }
  50% {
    background: rgba(235, 136, 68, 0.2);
  }
}

@media (min-width: 650px) {
  .container .quote-pane {
    width: 40%;
    height: 100%;
    background: #faf4ed;
  }
}

div.home {
  width: 100%;
}

div.home .logo {
  margin-top: 37px;
  font-size: 50px;
  font-weight: 700;
}

@media (max-width: 650px) {
  div.home .logo {
    font-size: 33px;
    margin-top: 17px;
  }
}

div.home .logo span {
  text-shadow: 0 2px 0 black;
}

div.home .logo span:first-child {
  color: #e1543c;
}

div.home .logo span:last-child {
  color: #2e996d;
}

div.home #greet {
  margin-top: 25px;
  line-height: 34px;
  font-weight: 800;
  font-size: 36px;
}

@media (max-width: 650px) {
  div.home #greet {
    line-height: 23px;
    margin-top: 13px;
  }
}

@media (max-width: 650px) {
  div.home #greet {
    font-size: 23px;
  }
}

div.home #greet span:first-child {
  font-weight: 500;
}

div.home #greet span#name {
  color: #2e996d;
}

div.home #greet i#edit-nickname {
  cursor: pointer;
  color: #eb8844;
}

@media (min-width: 650px) {
  div.home #greet i#edit-nickname {
    color: silver;
  }
  div.home #greet i#edit-nickname:hover {
    color: #eb8844;
  }
}

div.home > p {
  margin-top: 10px;
  font-weight: 600;
}

@media (max-width: 650px) {
  div.home > p {
    font-size: 13px;
  }
}

div.home div.langs-section {
  margin-top: 40px;
  padding-bottom: 10px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  overflow-y: auto;
}

@media (max-width: 650px) {
  div.home div.langs-section {
    grid-row-gap: 10px;
  }
}

@media (max-width: 650px) {
  div.home div.langs-section {
    margin-top: 40px;
  }
}

div.home div.langs-section .lang-box {
  width: 225px;
  height: 140px;
  border-radius: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
  cursor: pointer;
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
  margin: 0 auto;
}

@media (max-width: 650px) {
  div.home div.langs-section .lang-box {
    width: 135px;
    height: 160px;
    border-radius: 14px;
  }
}

div.home div.langs-section .lang-box:nth-child(even) {
  background: #2e996d url(../img/deep-orange.svg);
}

div.home div.langs-section .lang-box:nth-child(odd) {
  background: #e1543c url(../img/green.svg);
}

div.home div.langs-section .lang-box:nth-child(n) {
  background-position: top -30px right -30px;
  background-size: 100px;
  background-repeat: no-repeat;
}

@media (max-width: 650px) {
  div.home div.langs-section .lang-box:nth-child(n) {
    background-position: center -50px;
    background-size: 150px;
  }
}

@media (min-width: 650px) {
  div.home div.langs-section .lang-box:hover {
    background-size: 200px;
  }
}

div.home div.langs-section .lang-box i {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 13px;
  margin-top: 13px;
  color: #fff;
  font-size: 35px;
}

@media (max-width: 650px) {
  div.home div.langs-section .lang-box i {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 0;
    margin-top: 20px;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 50%;
  }
}

div.home div.langs-section .lang-box p {
  margin-bottom: 13px;
  margin-left: 17px;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: .5px;
  color: #fff;
}

@media (max-width: 650px) {
  div.home div.langs-section .lang-box p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 0;
    font-size: 15px;
    margin-bottom: 15px;
  }
}

div.home div.langs-section .lang-box:last-child {
  background: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #e1543c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 650px) {
  div.home div.langs-section .lang-box:last-child:hover span {
    width: 70px;
    height: 70px;
  }
}

div.home div.langs-section .lang-box:last-child span {
  color: #fff;
  font-size: 60px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2e996d;
  -webkit-transition: width .15s linear, height .15s linear;
  transition: width .15s linear, height .15s linear;
}

div.quote-pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

div.quote-pane > div.quote-block {
  position: relative;
  width: 90%;
  background-color: #f7ebdd;
  padding: 5px 10px 15px;
  border-radius: 5px;
  overflow: hidden;
}

div.quote-pane > div.quote-block:before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #e1543c;
  top: 0;
  left: 1px;
}

div.quote-pane > div.quote-block:last-child:before {
  left: 99%;
}

div.quote-pane > div.quote-block > p.quote {
  font-style: italic;
  font-size: 21px;
  font-weight: 300;
}

div.quote-pane > div.quote-block:last-child > p.quote {
  text-align: right;
}

div.quote-pane > div.quote-block > p + div.owner-info {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.quote-pane > div.quote-block > p + div.owner-info i {
  font-size: 23px;
}

div.quote-pane > div.quote-block > p + div.owner-info div.info {
  margin-left: 5px;
  font-weight: 600;
  font-size: 13px;
}

div.quote-pane > div.quote-block > p + div.owner-info div.info > p.name span:first-child {
  color: #2e996d;
}

div.quote-pane > div.quote-block > p + div.owner-info div.info > p.name span:last-child {
  color: #e1543c;
}

div.quote-pane > div.quote-block > p + div.owner-info div.info a:link {
  color: black;
}

div.quote-pane > div.quote-block:first-child div.owner-info {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 650px) {
  div[class|='quiz-levels'] .top {
    margin-top: 48px;
  }
  div[class|='quiz-levels'] .top > p:first-child {
    font-size: 36px;
    font-weight: 700;
  }
  div[class|='quiz-levels'] .top > p:last-child {
    font-size: 17px;
    font-weight: 600;
    margin-top: 5px;
  }
  div[class|='quiz-levels'] .levels-section {
    margin-top: 80px;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    position: relative;
  }
  div[class|='quiz-levels'] .levels-section .level-box {
    width: 225px;
    height: 140px;
    border-radius: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
    cursor: pointer;
    -webkit-transition: background .5s ease;
    transition: background .5s ease;
    margin: 0 auto;
  }
  div[class|='quiz-levels'] .levels-section .level-box:nth-child(even) {
    background: #e1543c url(../img/cream.svg) center -50px;
  }
  div[class|='quiz-levels'] .levels-section .level-box:nth-child(odd) {
    background: #f5d3ac url(../img/deep-orange.svg) center -50px;
  }
  div[class|='quiz-levels'] .levels-section .level-box:nth-child(n) {
    background-position: top -30px right -30px;
    background-size: 100px;
    background-repeat: no-repeat;
  }
  div[class|='quiz-levels'] .levels-section .level-box:hover {
    background-size: 200px;
  }
  div[class|='quiz-levels'] .levels-section .level-box i {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 13px;
    margin-top: 13px;
    color: #000;
    font-size: 35px;
  }
  div[class|='quiz-levels'] .levels-section .level-box .level-bottom-text {
    margin-bottom: 13px;
    margin-left: 17px;
  }
  div[class|='quiz-levels'] .levels-section .level-box .level-bottom-text p {
    font-weight: 500;
    font-size: 17px;
  }
  div[class|='quiz-levels'] .levels-section .level-box .level-bottom-text p:first-child {
    display: inline;
    font-size: 23px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
}

@media (max-width: 650px) {
  div[class|='quiz-levels'] .top {
    padding: 0 7%;
    width: 100%;
    height: 70px;
    border-radius: 0 0 15px 15px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
  div[class|='quiz-levels'] .top > p:first-child {
    font-size: 21px;
    font-weight: 600;
    margin-top: 15px;
  }
  div[class|='quiz-levels'] .top > p:last-child {
    font-size: 13px;
    font-weight: 600;
    margin-top: 3px;
  }
  div[class|='quiz-levels'] .levels-section {
    padding: 0 5%;
    margin-top: 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
  }
  div[class|='quiz-levels'] .levels-section .level-box {
    width: 135px;
    height: 160px;
    border-radius: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.17);
  }
  div[class|='quiz-levels'] .levels-section .level-box:nth-child(even) {
    background: #e1543c url(../img/cream.svg) center -50px;
  }
  div[class|='quiz-levels'] .levels-section .level-box:nth-child(odd) {
    background: #f5d3ac url(../img/deep-orange.svg) center -50px;
  }
  div[class|='quiz-levels'] .levels-section .level-box:nth-child(n) {
    background-size: 150px;
    background-repeat: no-repeat;
  }
  div[class|='quiz-levels'] .levels-section .level-box i {
    margin-top: 20px;
    border: 2px solid #000;
    padding: 10px;
    border-radius: 50%;
    font-size: 30px;
  }
  div[class|='quiz-levels'] .levels-section .level-box .level-bottom-text {
    text-align: center;
    margin-bottom: 17px;
  }
  div[class|='quiz-levels'] .levels-section .level-box .level-bottom-text p {
    font-weight: 500;
    font-size: 14px;
  }
  div[class|='quiz-levels'] .levels-section .level-box .level-bottom-text p:first-child {
    font-size: 18px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
}
/*# sourceMappingURL=style.css.map */