div.home {
    width: 100%;
    .top {
        width: 100%;
        margin-top: 40px;
        @include mobile {
            margin-top: 20px;
        }
        @include flex(space-between, center);

        .clickables {
            font-size: 27px;
            width: 140px;
            @include mobile {
                width: 100px;
                font-size: 17px;
            }
            @include flex(space-between, center);
            color: $deep-orange;
            i {
                cursor: pointer;
                border-radius: 50%;
                width: 55px;
                height: 55px;
                @include flex(center, center);

                @include mobile {
                    width: 40px;
                    height: 40px;
                }
            }
            i:first-child {
                position: relative;
                background: rgba($orange, .3);
                animation: glow 1s linear infinite;
                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba($orange, .1);
                    border-radius: 50%;
                    z-index: -0.1;
                    animation: spread 1s linear infinite;

                    @keyframes spread {
                        0%, 100% {
                            top: -15px;
                            left: -15px;
                            right: -15px;
                            bottom: -15px;
                        } 50% {
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                        }
                    }
                }

                @keyframes glow {
                    0%, 100% {
                        background: rgba($orange, .3);
                    } 50% {
                        background: rgba($orange, .2);
                    }
                }
            }

            i:last-child {
                background: #fff;
                box-shadow: 0 0 10px rgba(black, .15);
                transition: background .3s ease,
                            color .3s ease;
                &:hover {
                    background: $deep-orange;
                    color: #fff;
                }
            }
        }
        .logo {
            font: {
                size: 50px;
                weight: weight(bold);
            }
            @include mobile {
                font-size: 33px;
            }
            span {
                text-shadow: 0 2px 0 black;
            }
            span:first-child {
                color: $deep-orange;
            }
            span:last-child {
                color: $green;
            }
        }
    }
    #greet {
        margin-top: 25px;
        line-height: 34px;
        @include mobile {
            line-height: 23px;
            margin-top: 13px;
        }
        font: {
            weight: weight(extrabold);
            size: 36px;

        }
        @include mobile {
            font-size: 23px;
        }
        span:first-child {
            font-weight: weight(medium);
        }
        span:last-child {
            color: $green;
        }
    }

    & > p {
        margin-top: 10px;
        font-weight: weight(semibold);

        @include mobile {
            font-size: 13px;
        }
    }

    div.langs-section {
        margin-top: 90px;
        padding: 10px 0;
        width: 100%;
        height: 375px;
        display: grid;
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
        overflow-y: auto;
        
        @include mobile {
            grid-template-columns: repeat(1, 1fr);
            margin-top: 40px;
        }


        .lang-box {
            width: 225px;
            height: 140px;
            border-radius: 27px;
            @include flex(space-between, null, column);
            box-shadow: 0 2px 4px rgba(#000, 0.17);
            cursor: pointer;
            transition: background .5s ease;

            @include mobile {
                width: 230px;
                height: 125px;
                border-radius: 20px;
                box-shadow: 0 0 5px rgba(#000, 0.4);

                margin: 0 auto;
            }
            
            &:nth-child(even) {
                background: $green url(../img/deep-orange.svg) no-repeat top -30px right -30px/100px;
            }
            &:nth-child(odd) {
                background: $deep-orange url(../img/green.svg) no-repeat bottom -30px left -30px/100px;
            }
            @include laptop {
                &:hover {
                    background-size: 200px;
                }
            }
            
            i {
                align-self: flex-end;
                margin-right: 13px;
                margin-top: 13px;
                color: #fff;
                font-size: 35px;
                transition: font-size .25s linear;
            }
            p {
                margin-bottom: 13px;
                margin-left: 17px;
                font: {
                    weight: weight(bold);
                    size: 17px;
                }
                letter-spacing: .5px;
                // color: $colBoxFontColor;
                color: #fff;
            }

            &:nth-child(even) {
                margin-left: auto;
            }
        }
    }

}
