div.home {
    width: 100%;
    .top {
        margin-top: 40px;
        @include mobile {
            margin-top: 20px;
        }
        width: 100%;
        @include flex();

        .logo {
            font: {
                size: 50px;
                weight: weight(bold);
            }
            @include mobile {
                font-size: 33px;
            }
            span {
                text-shadow: 0 2px 0 black;
            }
            span:first-child {
                color: $deep-orange;
            }
            span:last-child {
                color: $green;
            }
        }
    }
    #greet {
        margin-top: 25px;
        @include mobile {
            line-height: 21px;
            margin-top: 13px;
        }
        font: {
            weight: weight(bold);
            size: 27px;

        }
        @include mobile {
            font-size: 23px;
        }
        span:first-child {
            font-weight: weight(medium);
        }
        span:last-child {
            color: $green;
        }
    }

    & > p {
        margin-top: 10px;
        font-weight: weight(semibold);

        @include mobile {
            font-size: 13px;
        }
    }

    div.langs-section {
        margin-top: 90px;
        padding: 10px 0;
        width: 100%;
        height: 500px;
        display: grid;
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
        overflow-y: auto;
        
        @include mobile {
            grid-template-columns: repeat(1, 1fr);
            margin-top: 40px;
        }


        .lang-box {
            width: 225px;
            height: 140px;
            border-radius: 17px;
            @include flex(space-between, null, column);
            box-shadow: 0 2px 4px rgba(#000, 0.17);
            cursor: pointer;
            transition: background .5s ease;

            @include mobile {
                width: 250px;
                height: 150px;
                border-radius: 15px;
                box-shadow: 0 0 5px rgba(#000, 0.4);

                margin: 0 auto;
            }
            
            &:nth-child(even) {
                background: $green url(../img/deep-orange.svg) no-repeat top -30px right -30px/100px;
            }
            &:nth-child(odd) {
                background: $deep-orange url(../img/green.svg) no-repeat bottom -30px left -30px/100px;
            }
            &:hover {
                background-size: 200px;
            }
            
            i {
                align-self: flex-end;
                margin-right: 13px;
                margin-top: 13px;
                color: #fff;
                font-size: 30px;
                transition: font-size .25s linear;
            }
            p {
                margin-bottom: 13px;
                margin-left: 17px;
                font: {
                    weight: weight(bold);
                    size: 17px;
                }
                letter-spacing: .5px;
                // color: $colBoxFontColor;
                color: #fff;
            }

            &:nth-child(even) {
                margin-left: auto;
            }
        }
    }

}
