div.home {
    width: 100%;
        .logo {
            margin-top: 37px;
            font: {
                size: 50px;
                weight: weight(bold);
            }
            @include mobile {
                font-size: 33px;
                margin-top: 13px;
            }
            span {
                text-shadow: 0 2px 0 black;
            }
            span:first-child {
                color: $deep-orange;
            }
            span:last-child {
                color: $cream;
            }
        }
    #greet {
        margin-top: 25px;
        line-height: 34px;
        @include mobile {
            line-height: 27px;
            margin-top: 13px;
        }
        font: {
            weight: weight(bold);
            size: 36px;

        }
        @include mobile {
            font-size: 23px;
        }
        span:first-child {
            font-weight: weight(regular);
            font-size: 30px;
        }
        span#firstname {
            color: $deep-orange;
            -webkit-text-stroke: 1.5px;
            -webkit-text-stroke-color: #000;
            font-size: 32px;
        }
        i#edit-nickname {
            cursor: pointer;
            color: $cream;
            @include laptop {
                color: silver;
                &:hover {
                    color: $cream;
                }

            }

        }
    }

    & > p {
        margin-top: 10px;
        font-weight: weight(semibold);

        @include mobile {
            font-size: 13px;
        }
    }

    div.langs-section {
        margin-top: 40px;
        padding-bottom: 10px;
        width: 100%;
        @include flex(space-between);
        flex-wrap: wrap;
        overflow-y: auto;
        
        @include mobile {
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }


        .lang-box {
            width: 225px;
            height: 140px;
            border-radius: 27px;
            @include flex(space-between, null, column);
            box-shadow: 0 2px 4px rgba(#000, 0.17);
            cursor: pointer;
            transition: background .5s ease,
                        transform .15s linear;
            margin-bottom: 10px;
                        
            @include mobile {
                width: 97%;
                height: 190px;
                border-radius: 14px;
                margin: 0 auto;
                margin-bottom: 10px;
            }
            
            
            @include laptop {
                background: $cream url(../img/deep-orange.svg) no-repeat top -30px right -30px/100px;
            }

            @include mobile {
                background-image: radial-gradient(120px 120px at top center, $deep-orange, $deep-orange 100px, 100px, #fff 105px, 105px, $cream);
            }


            &:active {
                transform: translateY(4px);
                box-shadow: 0 0px 4px rgba(#000, 0.17);
            }
            
            @include mobile {
                // background-position: center -50px;
                // background-size: 155px;
            }
            @include laptop {
                &:hover {
                    background-size: 200px;
                }
            }
            
            i {
                align-self: flex-end;
                margin-right: 13px;
                margin-top: 13px;
                color: #000;
                font-size: 35px;

                @include mobile {
                    align-self: center;
                    margin-right: 0;
                    margin-top: 20px;
                    border: 2px solid #000;
                    padding: 10px;
                    border-radius: 50%;
                }
            }
            p {
                margin-bottom: 13px;
                margin-left: 17px;
                font: {
                    weight: weight(bold);
                    size: 17px;
                }
                letter-spacing: .5px;
                color: #000;

                @include mobile {
                    align-self: center;
                    margin-left: 0;
                    font-size: 15px;
                    margin-bottom: 15px;
                }
            }

            &:last-child {
                background: #fff;
                box-shadow: none;
                border: 1px solid $deep-orange;
                @include flex(center, center, column);

                @include laptop{
                    &:hover {
                        span {
                            transform: scale(1.1);
                        }
                    }
                }

                span {
                    color: #fff;
                    font: {
                        size: 60px;
                        weight: weight(light);
                    }
                    width: 60px;
                    height: 60px;
                    @include mobile {
                        font: {
                            size: 50px;
                            weight: weight(light);
                        }
                        width: 50px;
                        height: 50px;
                    }
                    border-radius: 50%;
                    @include flex(center, center);
                    background: #000;
                    transition: transform .15s linear;
                }

                p {
                    margin: 0 auto;
                    font-weight: weight(medium);

                    @include mobile {
                        font-size: 13px;
                    }
                }
            }
        }
    }

}
