div[class|='quiz-levels'] {
    .levels-section {
        @include flex(space-evenly);
        flex-wrap: wrap;

        .level-box {
            box-shadow: 0 2px 4px rgba(#000, 0.17);
            cursor: pointer;
            margin: 0 auto;
            transition: background .5s ease,
                        transform .15s linear;

            &:nth-child(even) {
                background: $deep-orange url(../img/cream.svg);
            }
            &:nth-child(odd) {
                background: $cream url(../img/deep-orange.svg);
            }
    
            &:nth-child(n) {
                background-repeat: no-repeat;
                background-position: center -50px;
            }

            &:active {
                transform: scale(0.95);
                transform-origin: center;
            }

            .level-bottom-text {
                p:first-child {
                    border-top: 1px solid #000;
                    border-bottom: 1px solid #000;
                }
            }
        }
    }


    @include laptop {
        .top {
            margin-top: 48px;

            & > p:first-child {
                font: {
                    size: 36px;
                    weight: weight(bold);
                }
            }
            & > p:last-child {
                font: {
                    size: 17px;
                    weight: weight(semibold);
                }
                margin-top: 5px;
            }
        }

        .levels-section {
            margin-top: 80px;
            width: 100%;
            grid-row-gap: 20px;
            position: relative;

            .level-box {
                width: 225px;
                height: 140px;
                border-radius: 27px;
                @include flex(space-between, null, column);

                &:nth-child(n) {
                    background-position: top -30px right -30px;
                    background-size: 100px;
                }

                &:hover {
                    background-size: 200px;
                }

                i {
                    align-self: flex-end;
                    margin-right: 13px;
                    margin-top: 13px;
                    color: #000;
                    font-size: 35px;
                }

                .level-bottom-text {
                    margin-bottom: 13px;
                    margin-left: 17px;

                    p {
                        font: {
                            weight: weight(medium);
                            size: 17px;
                        }
                    }

                    p:first-child {
                        display: inline;
                        font-size: 23px;
                    }
                }
            }
        }
    }




    @include mobile {
        .top {
            padding: 0 7%;
            width: 100%;
            height: 70px;
            border-radius: 0 0 15px 15px;
            box-shadow: 0 2px 2px rgba(#000, .25);
    
            & > p:first-child {
                font: {
                    size: 21px;
                    weight: weight(semibold);
                }
                margin-top: 15px;
            }
            & > p:last-child {
                font: {
                    size: 13px;
                    weight: weight(semibold);
                }
                margin-top: 3px;
            }
        }
        .levels-section {
            padding: 0 5%;
            margin-top: 50px;
            grid-row-gap: 10px;

            .level-box {
                width: 135px;
                height: 160px;
                border-radius: 14px;
                @include flex(space-between, center, column);


                &:nth-child(n) {
                    background-size: 150px;
                }

                i {
                    margin-top: 20px;
                    border: 2px solid #000;
                    padding: 10px;
                    border-radius: 50%;
                    font-size: 30px;
                }

                .level-bottom-text {
                    text-align: center;
                    margin-bottom: 17px;

                    p {
                        font: {
                            weight: weight(medium);
                            size: 14px;
                        }
                    }

                    p:first-child {
                        font-size: 18px;
                    }
                }
                
            }
        }
    }

}
