div.quiz-levels-page {
    .top {
        @include flex(space-evenly, center);

        #back-to-home {
            background: rgba($orange, .3);
            @include flex(center, center);
            color: $deep-orange;
            font-weight: weight(semibold);
            margin-right: 15px;
            cursor: pointer;
        }
        .center-text {
            text-align: center;
            p:first-child {
                text-transform: capitalize;
            }
        }
    }
    .levels-section {
        --beginnerComp: 50;
        --intermediateComp: 60;
        --advancedComp: 70;
        --ninjaComp: 80;

        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .level-box {
            margin: 0 auto;
            box-shadow: 0 2px 4px rgba(#000, 0.17);
            cursor: pointer;
            transition: background .5s ease,
                        transform .15s linear;

            
            background: $cream url(../img/deep-orange.svg) no-repeat center -55px;

            &:active {
                transform: translateY(4px);
                box-shadow: 0 0px 4px rgba(#000, 0.17);
            }

            .level-bottom-text {
                p:first-child {
                    border-top: 1px solid #000;
                    border-bottom: 1px solid #000;
                }
            }
        }
    }


    @include laptop {
        .top {
            height: 150px;

            #back-to-home {
                width: 17%;
                height: 50px;
                border-radius: 32px;
    
            }
            div:empty {
                width: 17%;
            }
            
            .center-text {
                width: 67%;
                p:first-child {
                    font: {
                        size: 36px;
                        weight: weight(bold);
                    }
                }
                p:last-child {
                    font: {
                        size: 17px;
                        weight: weight(semibold);
                    }
                    margin-top: 5px;
                }
            }
        }

        .levels-section {
            padding: 0 2%;
            margin-top: 50px;
            width: 100%;

            .level-box {
                width: 225px;
                height: 140px;
                border-radius: 27px;
                margin-bottom: 20px;
                @include flex(space-between, null, column);

                &:nth-child(n) {
                    background-position: top -30px right -30px;
                    background-size: 100px;
                }

                &:hover {
                    background-size: 200px;
                }

                i {
                    align-self: flex-end;
                    margin-right: 13px;
                    margin-top: 13px;
                    color: #000;
                    font-size: 35px;
                }

                .level-bottom-text {
                    margin-bottom: 13px;
                    margin-left: 17px;

                    p {
                        font: {
                            weight: weight(medium);
                            size: 17px;
                        }
                    }

                    p:first-child {
                        display: inline;
                        font-size: 23px;
                    }
                }
            }
        }
    }


    @include mobile {
        .top {
            padding: 0 7%;
            width: 100%;
            height: 70px;
            border-radius: 0 0 15px 15px;
            box-shadow: 0 2px 2px rgba(#000, .25);

            #back-to-home {
                width: 23%;
                height: 40px;
                border-radius: 32px;
                font-size: 13px;
    
            }
            div:empty {
                width: 23%;
            }
            
            .center-text {
                width: 54%;
                p:first-child {
                    font: {
                        size: 20px;
                        weight: weight(bold);
                    }
                }

                p:last-child {
                    font: {
                        size: 13px;
                        weight: weight(semibold);
                    }
                    margin-top: 3px;
                }
            }
        }
        .levels-section {
            padding: 0 6%;
            margin-top: 50px;

            .level-box {
                width: 135px;
                height: 170px;
                border-radius: 14px;
                margin-bottom: 10px;
                @include flex(space-between, center, column);
                background-size: 150px;


                .comp-div {
                    width: 60px;
                    height: 60px;
                    position: relative;
                    margin-top: 15px;
                    div {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        color: #fff;
                        font-size: 15px;
                        font-weight: weight(bold);
                        @include flex(center, center);
                    } 
                    svg {
                        width: 100%;
                        height: 100%;

                        circle {
                            stroke: $deep-orange;
                            stroke-width: 7px;
                            stroke-linecap: round;
                            // fill: none;
                            
                            &:last-child {
                                stroke: $cream;
                                stroke-dasharray: 160;
                                stroke-dashoffset: 160;
                                transition: stroke-dashoffset 1s linear;
                            }
                        }
                    }
                }

                &:nth-child(1) {
                    .comp-div circle:last-child {
                        // Javascript will work hehe
                        stroke-dashoffset: calc(160 - (160 * var(--beginnerComp)) / 100);
                        // stroke-dashoffset: calc(160 - (160 * 0) / 100);
                        
                    }
                }

                &:nth-child(2) {
                    .comp-div circle:last-child {
                        stroke-dashoffset: calc(160 - (160 * var(--intermediateComp)) / 100);
                    }
                }

                &:nth-child(3) {
                    .comp-div circle:last-child {
                        stroke-dashoffset: calc(160 - (160 * var(--advancedComp)) / 100);
                    }
                }

                &:nth-child(4) {
                    .comp-div circle:last-child {
                        stroke-dashoffset: calc(160 - (160 * 70) / 100);
                    }
                }



                .level-bottom-text {
                    text-align: center;
                    margin-bottom: 17px;

                    p {
                        font: {
                            weight: weight(medium);
                            size: 14px;
                        }
                    }

                    p:first-child {
                        font-size: 18px;
                    }
                }
                
            }
        }
    }

}
