div.quiz-modules-page {
    .top {
        @include flex(space-between, center);

        #back-to-levels {
            cursor: pointer;
            background: rgba($orange, .3);
            @include flex(center, center);
            color: $deep-orange;
            font-weight: weight(semibold);
            margin-right: 17px;
        }
        .center-text {
            text-align: center;
            p:first-child {
                text-transform: capitalize;
            }
            p:last-child {
                border-top: 1px dotted #000;
                border-bottom: 1px dotted #000;
                display: inline-block;
            }
        }
    }
    .modules-section {
        flex-wrap: wrap;
        
        .module-box {
            @include flex(center, null, column);
            margin-bottom: 10px;
            background: #fff;
            border-radius: 17px;
            box-shadow: 0px 0px 4px rgba(#000, 0.17);

            .module-score {
                margin-bottom: 5px;
            }


            .start-module-btn {
                @include flex(center, center);
                    background: $deep-orange;
                    border: none;
                    border-radius: 3px;
                    color: #fff;
                    font-weight: weight(semibold);
            }
        }
        .module-box.pass {
            .module-score {
                color: #d3a507;
            }
        }
        .module-box.fail {
            .module-score {
                color: #f11010;
            }
        }
        .module-box.excel {
            .module-score {
                color: $green;
            }
        }
    }

    @include laptop {
        .top {
            height: 150px;

            #back-to-levels {
                width: 17%;
                height: 50px;
                border-radius: 32px;
    
            }
            div:empty {
                width: 17%;
            }

            .center-text {
                width: 67%;
                p:first-child {
                    font: {
                        size: 36px;
                        weight: weight(bold);
                    }
                }
                p:last-child {
                    font: {
                        size: 20px;
                        weight: weight(semibold);
                    }
                    margin-top: 5px;
                }
            }
        }

        
        .modules-section {
            overflow-y: auto;
            width: 100%;
            margin-top: 50px;
            padding: 0 1%;
            padding-top: 10px;
            @include flex();

            .module-box {
                width: 150px;
                padding: 15px 0 17px 20px;
                
                &:nth-child(3n - 1) {
                    margin: 0 auto;
                    margin-bottom: 10px;
                }

                .module-num {
                    font: {
                        size: 20px;
                        weight: weight(bold);
                    }
                }

                .module-score {
                    font: {
                        size: 19px;
                        weight: weight(medium);
                    }
                }

                .start-module-btn {
                    width: 70px;
                    height: 35px;
                    font-size: 13px;
                }
            }
        }
    }
    
    @include mobile {
        overflow-y: auto;
        .top {
            position: fixed;
            top: 0;
            background: #fff;
            padding: 0 6%;
            width: 100%;
            height: 70px;
            border-radius: 0 0 15px 15px;
            box-shadow: 0 2px 2px rgba(#000, .25);

            #back-to-levels {
                width: 23%;
                height: 40px;
                border-radius: 32px;
                font-size: 13px;
    
            }
            div:empty {
                width: 23%;
            }
            .center-text {
                width: 54%;
                p:first-child {
                    font: {
                        size: 18px;
                        weight: weight(bold);
                    }
                }
                p:last-child {
                    font: {
                        size: 14px;
                        weight: weight(semibold);
                    }
                    margin-top: 3px;
                }
            }
        }

        .modules-section {
            padding: 0 5%;
            width: 100%;
            margin-top: 90px;
            @include flex(space-around);

            .module-box {
                width: 135px;
                padding: 10px 0 12px 15px;
                margin: 0 0px 15px 0;

                .module-num {
                    font: {
                        size: 18px;
                        weight: weight(bold);
                    }
                }

                .module-score {
                    font: {
                        size: 17px;
                        weight: weight(medium);
                    }
                }

                .start-module-btn {
                    width: 65px;
                    height: 30px;
                    font-size: 13px;
                }

                &:empty {
                    opacity: 0;
                }
            }
        }
    }
}
