* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Raleway;
    width: 100%;
    height: 100%;
    @include laptop {
        // background-image: linear-gradient(to top right, #FFF4E6, #FFF0DE);
        position: relative;
        
        .sorry-notif {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            @include flex(center, center, column);
            font-size: 40px;
            font-weight: weight(light);
            p {
                max-width: 60%;
                text-align: center;
                color: $deep-orange;
            }
        }
    }
    @include mobile {
        .sorry-notif {
            display: none;
        }
        overflow: hidden;
    }
}
@include laptop {
    #container {
        display: none !important;
    }
}


.back-page-btn {
    max-width: 70px;
}

button {
    outline: none;
    cursor: pointer;
}

code {
    font-family: 'Ubuntu Mono', monospace;
}

b {
    font-weight: weight(semibold);
}

a:link {
    text-decoration: none;
}

a:link:hover {
    text-decoration: underline;
}

*:not(a):not(input) {
    -webkit-tap-highlight-color: transparent;
}

.container {
    height: 100%;
    position: relative;
    @include laptop {
        width: 600px;
        margin: 0 auto;
        @include flex();
    }

    @include mobile {
        width: 100%;
    }

    #sound {
        color: $deep-orange;
        font-size: 27px;
        @include mobile {
            font-size: 17px;
        }
        cursor: pointer;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        @include flex(center, center);
        @include mobile {
            width: 40px;
            height: 40px;
        }
        position: fixed;
        z-index: 5;
        top: 45px;
        left: 600px;
        @include mobile {
            top: 15px;
            left: 82%;
        }
        display: none;
        &::after {
            content: '';
            position: absolute;
            width: 2px;
            height: 100%;
            background: #000;
            transform: rotate(-45deg);

            @keyframes spread {
                0%, 100% {
                    top: -13px;
                    left: -13px;
                    right: -13px;
                    bottom: -13px;
                } 50% {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }
        background: rgba($orange, .2);

        @keyframes glow {
            0%, 100% {
                background: rgba($orange, .2);
            } 50% {
                background: rgba($orange, .1);
            }
        }
    }
    #sound.music-on {
        animation: glow 1s linear infinite;
        &::after {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: auto;
            height: auto;
            background: rgba($orange, .1);
            border-radius: 50%;
            z-index: -1;
            transform: none;
            animation: spread 1s linear infinite;
        }
    }

    .load-anim#outer {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto auto;
        width: 75px;
        height: 75px;
        border-top-color: transparent;
        animation: rotate 3s cubic-bezier(0.23, 1, 0.320, 1) infinite;
        & > :only-child {
            width: 50px;
            height: 50px;
            border-color: $deep-orange;
            animation: rotate 2s cubic-bezier(0.86, 0, 0.07, 1) infinite;
            border-top-color: transparent;
            & > :only-child {
                width: 25px;
                height: 25px;
                border-color: $cream;
                border-top-color: transparent;
                animation: rotate 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) infinite;
            }
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg);
            } to {
                transform: rotate(360deg);
            }
        }
    }
    
    .load-anim {
        @include flex(center, center);
        border: 2px solid;
        border-radius: 50%;
    }

    #install-app-btn {
        position: fixed;
        bottom: -42px;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-radius: 5px 5px 0 0;
        @include flex(null, center);
        border: none;
        outline: none;
        padding: 3px 10px;
        width: 90%;
        img {
            width: 35px;
            height: 35px;
        }
        p {
            font-size: 13px;
            margin-left: 10px;
        }
        background: rgb(235, 235, 235);
        transition: bottom .15s linear;
        display: none;
        &.show {
            bottom: 0;
        }
    }

    .name-set-modal {
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        top: 5%;
        margin: 0 auto;
        width: 200px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 4px rgba(#000, 0.17);
        padding: 7px 10px 10px;
        transition: top .15s linear;
        @include flex(null, null, column);
        display: none;

        div:empty {
            z-index: -1;
            position: absolute;
            top: -100vh;
            right: -100vw;
            bottom: -100vh;
            left: -100vw;
        }

        &::before {
            position: absolute;
            content: '';
            width: 4px;
            height: 150px;
            background: #fff;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
            bottom: 100.5%;
        }
        &::after {
            position: absolute;
            content: '';
            width: 4px;
            height: 150px;
            background: #fff;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
            bottom: 100.5%;
            right: 25px;
        }

        p {
            font-weight: weight(semibold);
            color: rgb(209, 209, 209);
            margin-bottom: 5px;
        }

        input {
            font-family: inherit;
            width: 100%;
            outline: none;
            border: 1px solid rgb(209, 209, 209);
            border-radius: 3px;
            height: 25px;
            font-size: 16px;
            color: #000;
            padding-left: 7px;

            &:focus {
                border-color: $deep-orange;
            }
        }

        button {
            outline: none;
            border: none;
            background: $deep-orange;
            width: 50px;
            height: 25px;
            margin: 5px auto 0;
            font-weight: weight(medium);
            color: #fff;
            border-radius: 3px;
        }
    }
    .name-set-modal.drop {
        top: 10%;
    }

    .languages-modal {
        position: absolute;
        left: 0;
        right: 0;
        top: 10%;
        overflow-y: auto;
        margin: 0 auto;
        z-index: 10;
        width: 250px;
        height: 350px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 4px rgba(#000, 0.17);
        padding: 7px 10px 10px;
        display: none;

        p {
            font-weight: weight(medium);
            font-size: 15px;
            color: rgb(209, 209, 209);
            padding-bottom: 2px;
            margin-bottom: 5px;
            border-bottom: 1px dotted;
        }

        .avail-langs {
            overflow-y: auto;
            @include flex();
            flex-wrap: wrap;

            span {
                margin: 2px 1px;
                padding: 5px 7px;
                border-radius: 32px;
                font-size: 13px;
                font-weight: weight(semibold);
                border: 1px solid $deep-orange;
            }
            .lang-chosen {
                background: $deep-orange;
                color: #fff;
            }
        }

        button {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 20px;
            outline: none;
            border: none;
            background: $deep-orange;
            width: 75px;
            height: 40px;
            margin: 5px auto 0;
            font-size: 16px;
            box-shadow: 0px 0px 4px rgba(#000, 0.17);
            font-weight: weight(medium);
            color: #fff;
            border-radius: 4px;
        }
    }


    .main-pane {
        width: 100%;
        height: 100%;
        background: #fff;
        // position: relative;

        @include mobile {
            width: 100%;
        }

        & > div {
            width: 100%;
            height: 100%;
            @include laptop {
                padding: 0 9%;
            }

            @include mobile {
                &.home, &.question-page {
                    padding: 0 5%;
                }
            }
            @include flex(null, null, column);
        }
        & > :not(.quiz-question-page):not(.quiz-solution-page) {
            background: url(../img/deep-orange.svg) no-repeat 60% 165%/350px,
            url(../img/cream.svg) no-repeat 150% 155%/350px,
            url(../img/orange.svg) no-repeat -50px 125%/350px;
            
            @include mobile {
                background: url(../img/deep-orange.svg) no-repeat 15vw 90vh/230px,
                url(../img/cream.svg) no-repeat 50vw 92vh/250px,
                url(../img/orange.svg) no-repeat -30vw 80vh/250px;
            }
        }
    }

    .quote-pane {
        @include laptop {
            width: 40%;
            height: 100%;
            background: $quotePaneBg;
        }
        @include mobile {
        }
    }

}
