div.quiz-question-page {
    position: relative;
    #big-lang-icon {
        position: absolute;
        color: rgba($deep-orange, .1);
    }
    .top {
        @include flex(space-evenly, center);

        #back-to-modules {
            background: rgba($orange, .3);
            @include flex(center, center);
            color: $deep-orange;
            font-weight: weight(semibold);
            margin-right: 15px;
            cursor: pointer;
        }
        .center-text {
            text-align: center;
            p:first-child {
                text-transform: capitalize;
            }
            p:last-child {
                border-top: 1px dotted #000;
                border-bottom: 1px dotted #000;
                display: inline-block;
            }
        }
    }

    .question-top {
        @include flex(space-between, center);

        .progress {
            width: 80%;

            .progress-bar {
                width: 100%;
                background: $cream;
                border-radius: 15px;
                position: relative;
                overflow: hidden;

                .progress-tracker-bar {
                    position: absolute;
                    border-radius: 15px;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    // this will be changed by jS
                    right: var(--progress);
                    background: $deep-orange;
                    transition: right .5s ease;
                }
            }

            .progress-details {
                @include flex(space-between);
                margin-top: -2px;

                div:first-child {
                    font-feature-settings: "lnum" 1;
                    font-weight: weight(semibold);
                    
                    span:nth-child(1) {
                        color: $deep-orange;
                    }
                    span:nth-child(2) {
                        display: inline-block;
                        transform: translate(1px, -2px) rotate(15deg);
                        margin-right: 1px;
                    }
                }

                div:last-child {
                    font-weight: weight(semibold);

                    span:first-child {
                        color: $deep-orange;

                        & + span {
                            color: $deep-orange;
                        }
                    }
                }
            }
        }

        .timer {
            width: 20%;
            @include flex(center, center, column);

            p {
                font-weight: weight(semibold);
                color: $deep-orange;
            }
        }
    }

    div[id|='question-section'] {
        width: 100%;

        // .question-with-code, .question-without-code {
            .question-statement-with-code {
                margin-bottom: 4px;
            }

            .question-statement-without-code {
                margin-bottom: 13px;
            }

            .code-block {
                
                code {
                    font-family: 'Ubuntu Mono', monospace;
                    border-radius: 5px;
                    overscroll-behavior: none;
                }
                border-top: 1px dotted rgb(173, 173, 173);
                padding: 4px 0;
                border-bottom: 1px dotted rgb(173, 173, 173);
            }

            .what-to-do {
                color: rgb(173, 173, 173);
                margin: 3px 0;
            }

            .options {
                --boxStyle: 50%;
                .option {
                    cursor: pointer;
                    @include flex(null, center);
                    border: 3px solid $cream;
                    border-radius: 32px;
                    position: relative;

                    p {
                        font-weight: weight(medium);
                        line-height:20px;
                    }

                    div {
                        position: absolute;
                        border-radius: var(--boxStyle);
                        margin: auto 0;
                        border: 3px solid $cream;
                    }
                    div.selected {
                        &::after {
                            position: absolute;
                            font-family: 'Font Awesome 5 Free';
                            content: '\f00c';
                            font-weight: 900;
                            color: #fff;
                            @include flex(center, center);
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: $deep-orange;
                            border-radius: var(--boxStyle);
                        }

                        &::before {
                            position: absolute;
                            content: '';
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: rgba($orange, .5);
                            border-radius: var(--boxStyle);

                            @keyframes checkAnim {
                                0% {
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                } 50% {
                                    top: -7px;
                                    left: -7px;
                                    right: -7px;
                                    bottom: -7px;
                                } 100% {
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
            }
        // }
    }

    .bottom {
        padding: 0 7%;
        @include flex(space-between);
        p {
            @include flex(center, center);
        }

        p:not(:nth-child(2)) {
            @include flex(center, center, column);
            a {
                font-weight: weight(medium);
                &:link {
                    color: rgb(173, 173, 173);
                }
            }
            i {
                color: $deep-orange;
            }
        }

        p:nth-child(2) {
            background: url(../img/deep-orange.svg) no-repeat 5px -40px/50px,
                        $cream url(../img/deep-orange.svg) no-repeat right 5px bottom -40px/50px;
            font-weight: weight(bold);
            color: #000;
            cursor: pointer;
        }
    }



    /* Laptop */
    @include laptop {
        overflow-y: auto;
        #big-lang-icon {
            right: 4%;
            top: 150px;
            font-size: 155px;
        }

        .top {
            height: 150px;
            #back-to-modules {
                width: 17%;
                height: 50px;
                border-radius: 32px;
            }
            div:empty {
                width: 17%;
            }
            
            .center-text {
                width: 67%;
                p:first-child {
                    font: {
                        size: 36px;
                        weight: weight(bold);
                    }
                }
                p:last-child {
                    font: {
                        size: 17px;
                        weight: weight(semibold);
                    }
                    margin-top: 5px;
                }
            }
        }

        .question-top {
            height: 30px;

            .progress {
                .progress-bar {
                    height: 7px;
                }

                .progress-details {
                    div:first-child {
                        span:nth-child(1) {
                            font-size: 27px;
                        }
                        span:nth-child(2) {
                            font-size: 25px;
                        }
                        span:nth-child(3) {
                            font-size: 18px;
                        }
                    }
    
                    div:last-child {
                        font-size: 13px;
    
                        .count {
                            font-size: 18px;
                        }
                    }
                }
            }

            .timer {
                i {
                    font-size: 37px;
                }

                p {
                    font-size: 17px;
                }
            }
        }

        div[id|='question-section'] {
            margin-top: 20px;

            // .question-with-code, .question-without-code {
                .question-statement-with-code, .question-statement-without-code {
                    font-size: 19px;
                }
                
                .code-block {
                    font-size: 19px;
                    
                    code {
                        max-height: 125px;
                    }
                }

                .what-to-do {
                    font-size: 15px;
                }

                .options {
                    @include flex(space-between, center);
                    flex-wrap: wrap;
                    .option {
                        width: 240px;
                        height: 45px;
                        margin: 5px 0;

                        p {
                            margin-left: 23px;
                            font-size: 20px;
                        }

                        div {
                            top: 15%;
                            bottom: 15%;
                            right: 3%;
                            height: 28px;
                            width: 28px;
                        }
                        div.selected {
                            &::after {
                                font-size: 12px;
                            }

                            &::before {
                                animation: checkAnim .7s ease 1;
                            }
                        }
                    }
                }
            // }
        }

        .bottom {
            margin-top: 20px;

            p:not(:nth-child(2)) {
                i {
                    font-size: 23px;
                }
                
                a {
                    margin-left: 5px;
                    font-size: 13px;
                }
            }

            p:nth-child(2) {
                width: 110px;
                height: 60px;
                border-radius: 50px;
                font-size: 17px;
            }
        }
    }


    /* Mobile */
    @include mobile {
        overflow-y: auto;
        position: relative;
        #big-lang-icon {
            right: 0;
            top: 75px;
            font-size: 125px;
        }

        .top {
            position: fixed;
            top: 0;
            z-index: 1;
            background: #fff;
            padding: 0 6%;
            width: 100%;
            height: 70px;
            border-radius: 0 0 15px 15px;
            box-shadow: 0 2px 2px rgba(#000, .25);

            #back-to-modules {
                width: 23%;
                height: 40px;
                border-radius: 32px;
                font-size: 13px;
            }
            div:empty {
                width: 23%;
            }
            
            .center-text {
                width: 54%;
                p:first-child {
                    font: {
                        size: 20px;
                        weight: weight(bold);
                    }
                }

                p:last-child {
                    font: {
                        size: 13px;
                        weight: weight(semibold);
                    }
                    margin-top: 3px;
                }
            }
        }

        .question-top {
            padding: 0 6%;
            height: 50px;
            margin-top: 75px;
            .progress {
                .progress-bar {
                    height: 6px;
                }

                .progress-details {
                    div:first-child {
                        span:nth-child(1) {
                            font-size: 23px;
                        }
                        span:nth-child(2) {
                            font-size: 21px;
                        }
                        span:nth-child(3) {
                            font-size: 15px;
                        }
                    }

                    div:last-child {
                        font-size: 12px;

                        .count {
                            font-size: 16px;
                        }
                    }
                }
            }

            .timer {
                i {
                    font-size: 25px;
                }

                p {
                    font-size: 13px;
                }
            }
        }

        .swiper-container {
            width: 100%;
            div[id|='question-section'] {
                padding: 0 7%;
                width: 100% !important;

                .question-statement-with-code {
                    font-size: 17px;

                    // @media (min-height: 534px) {
                    //     font-size: 17px;
                    // }
                }

                .question-statement-without-code {
                    font-size: 19px;

                    // @media (min-height: 534px) {
                    //     font-size: 21px;
                    // }
                }
                
                .code-block {
                    font-size: 15px;
                    @media (min-height: 534px) {
                        font-size: 17px;
                    }
                    
                    code {
                        max-height: 100px;
                    }
                }

                .what-to-do {
                    font-size: 13px;
                }

                .options {
                    width: 100%;
                    margin: 0 auto;
                    .option {
                        height: 40px;
                        &:not(:last-child) {
                            margin: 5px 0;
                        }

                        p {
                            margin-left: 20px;
                            font-size: 17px;
                        }

                        div {
                            top: 5px;
                            bottom: 5px;
                            right: 7px;
                            width: 24px;
                        }
                        div.selected {
                            &::after {
                                font-size: 10px;
                            }

                            &::before {
                                animation: checkAnim .5s ease 1;
                            }
                        }
                    }
                }
            }
        }

        .bottom {
            // margin: 10px 0;
            position: absolute;
            bottom: 20px;
            width: 100%;
            p:empty:first-child {
                width: 74.92px;
            }

            p:empty:last-child {
                width: 64.08px;
            }

            p:not(:nth-child(2)) {
                a {
                    margin-left: 2px;
                    font-size: 10px;
                }
                i {
                    font-size: 23px;
                    margin-bottom: 5px;
                }
            }

            p:nth-child(2) {
                width: 100px;
                height: 50px;
                border-radius: 32px;
            }
        }
    }
}