div.quiz-question-page {
    position: relative;
    #big-lang-icon {
        position: absolute;
        right: 0;
        top: 75px;
        font-size: 125px;
        color: rgba($deep-orange, .1);
    }
    .top {
        @include flex(space-evenly, center);

        #back-to-modules {
            background: rgba($orange, .3);
            @include flex(center, center);
            color: $deep-orange;
            font-weight: weight(semibold);
            margin-right: 15px;
        }
        .center-text {
            text-align: center;
            p:first-child {
                text-transform: capitalize;
            }
            p:last-child {
                border-top: 1px dotted #000;
                border-bottom: 1px dotted #000;
                display: inline-block;
            }
        }
    }
    @include laptop {

    }

    @include mobile {
        .top {
            padding: 0 7%;
            width: 100%;
            height: 70px;
            border-radius: 0 0 15px 15px;
            box-shadow: 0 2px 2px rgba(#000, .25);

            #back-to-modules {
                width: 23%;
                height: 40px;
                border-radius: 32px;
                font-size: 13px;
    
            }
            div:empty {
                width: 23%;
            }
            
            .center-text {
                width: 54%;
                p:first-child {
                    font: {
                        size: 20px;
                        weight: weight(bold);
                    }
                }

                p:last-child {
                    font: {
                        size: 13px;
                        weight: weight(semibold);
                    }
                    margin-top: 3px;
                }
            }
        }

        .question-top {
            padding: 0 7%;
            height: 50px;
            @include flex(space-between, center);
            .progress {
                width: 85%;

                .progress-bar {
                    width: 100%;
                    height: 6px;
                    background: $cream;
                    border-radius: 15px;
                    position: relative;
                    // overflow: hidden;

                    .progress-tracker-bar {
                        position: absolute;
                        border-radius: 15px;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        // this will be changed by jS
                        right: 50%;
                        background: $deep-orange;
                        transition: right .5s ease;
                    }
                }

                .progress-details {
                    @include flex(space-between);
                    margin-top: -2px;

                    div:first-child {
                        font-weight: weight(semibold);
                        span {
                            display: inline-block;
                        }
                        span:nth-child(1) {
                            font-size: 23px;
                            color: $deep-orange;
                            transform: translateY(-2px);
                        }
                        span:nth-child(2) {
                            font-size: 21px;
                            transform: translateX(-2px) rotate(-12deg);
                        }
                        span:nth-child(3) {
                            font-size: 17px;
                            transform: translateX(-5px);
                        }
                    }

                    div:last-child {
                        font-weight: weight(semibold);
                        font-size: 12px;

                        span:first-child {
                            color: $deep-orange;

                            & + span {
                                color: $deep-orange;
                            }
                        }

                        .count {
                            font-size: 16px;
                        }
                    }
                }
            }

            .timer {
                // margin-top: -7px;
                @include flex(center, center, column);
                i {
                    font-size: 25px;
                }

                p {
                    font-size: 13px;
                    font-weight: weight(semibold);
                    color: $deep-orange;
                }

            }
        }

        #question-section {
            padding: 0 7%;
            width: 100%;

            .question-with-code, .question-without-code {
                .question-statement-with-code {
                    font: {
                        // weight: weight(medium);
                        size: 15px;
                    }

                    margin-bottom: 4px;
                }

                .question-statement-without-code {
                    font: {
                        // weight: weight(medium);
                        size: 17px;
                    }

                    margin-bottom: 13px;
                }


                
                #code-block {
                    font-family: monospace;
                    font-size: 15px;
                    
                    code {
                        height: 100px;
                        border-radius: 5px;
                        overscroll-behavior: none;
                    }
                    border-top: 1px dotted rgb(173, 173, 173);;
                    padding: 4px 0;
                    border-bottom: 1px dotted rgb(173, 173, 173);;
                }

                #what-to-do {
                    font-size: 13px;
                    color: rgb(173, 173, 173);
                    margin: 3px 0;
                }

                .options {
                    width: 97%;
                    margin: 0 auto;
                    .option {
                        @include flex(null, center);
                        height: 40px;
                        border: 3px solid $cream;
                        border-radius: 32px;
                        position: relative;
                        &:not(:last-child) {
                            margin: 5px 0;
                        }

                        p {
                            margin-left: 20px;
                            font: {
                                size: 17px;
                                weight: weight(medium);
                            }
                            line-height:20px;
                        }


                        div {
                            position: absolute;
                            top: 5px;
                            bottom: 5px;
                            right: 7px;
                            width: 24px;
                            border-radius:50%;
                            margin: auto 0;
                            border: 3px solid $cream;
                        }
                        div.selected {
                            &::after {
                                position: absolute;
                                font-family: 'Font Awesome 5 Free';
                                content: '\f00c';
                                font-size: 10px;
                                font-weight: 900;
                                color: #fff;
                                @include flex(center, center);
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                background: $deep-orange;
                                border-radius: 50%;
                            }
                        }

                    }
                }
            }
        }

        .bottom {
            margin-top: 10px;
            padding: 0 7%;
            @include flex(space-between);
            p {
                @include flex(center, center);
            }

            p:not(:nth-child(2)) {
                i {
                    color: $deep-orange;
                }
                a {
                    text-decoration: underline;
                    margin-left: 2px;
                    font-size: 10px;
                    color: rgb(173, 173, 173);
                    font-weight: weight(medium);
                }
            }

            p:nth-child(2) {
                width: 100px;
                height: 50px;
                background: url(../img/deep-orange.svg) no-repeat 5px -40px/50px,
                            $cream url(../img/deep-orange.svg) no-repeat right 5px bottom -40px/50px;
                border-radius: 32px;
                font-weight: weight(bold);
                color: #000;
            }
        }
    }
}