div.quiz-question-page {
    position: relative;
    #big-lang-icon {
        position: absolute;
        right: 0;
        top: 75px;
        font-size: 100px;
        color: rgba($deep-orange, .1);
    }
    .top {
        @include flex(space-evenly, center);

        #back-to-modules {
            background: rgba($orange, .3);
            @include flex(center, center);
            color: $deep-orange;
            font-weight: weight(semibold);
            margin-right: 15px;
        }
        .center-text {
            text-align: center;
            p:first-child {
                text-transform: capitalize;
            }
        }
    }
    @include laptop {

    }

    @include mobile {
        .top {
            padding: 0 7%;
            width: 100%;
            height: 70px;
            border-radius: 0 0 15px 15px;
            box-shadow: 0 2px 2px rgba(#000, .25);

            #back-to-modules {
                width: 23%;
                height: 40px;
                border-radius: 32px;
                font-size: 13px;
    
            }
            div:empty {
                width: 23%;
            }
            
            .center-text {
                width: 54%;
                p:first-child {
                    font: {
                        size: 20px;
                        weight: weight(bold);
                    }
                }

                p:last-child {
                    font: {
                        size: 13px;
                        weight: weight(semibold);
                    }
                    margin-top: 3px;
                }
            }
        }

        .question-top {
            padding: 0 7%;
            margin-top: 10px;
            @include flex();
            .progress {
                width: 85%;

                .progress-bar {
                    width: 100%;
                    height: 6px;
                    background: $cream;
                    border-radius: 15px;
                    position: relative;
                    // overflow: hidden;

                    .progress-tracker-bar {
                        position: absolute;
                        border-radius: 15px;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        // this will be changed by jS
                        right: 70%;
                        background: $deep-orange;
                        transition: right .5s ease;
                    }
                }

                .progress-details {
                    @include flex(space-between);
                    margin-top: -2px;

                    div:first-child {
                        font-weight: weight(semibold);
                        span {
                            display: inline-block;
                        }
                        span:nth-child(1) {
                            font-size: 23px;
                            color: $deep-orange;
                            transform: translateY(-2px);
                        }
                        span:nth-child(2) {
                            font-size: 21px;
                            transform: translateX(-2px) rotate(-12deg);
                        }
                        span:nth-child(3) {
                            font-size: 17px;
                            transform: translateX(-5px);
                        }
                    }

                    div:last-child {
                        font-weight: weight(semibold);
                        font-size: 12px;

                        span:first-child {
                            color: $deep-orange;

                            & + span {
                                color: $deep-orange;
                            }
                        }

                        .count {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}