div.quote-pane {
    @include flex(space-evenly, center, column);
    display: none;
    & > div.quote-block {
        position: relative;
        width: 90%;
        background-color: $quoteBlockBg;
        padding: 5px 10px 15px;
        border-radius: 5px;
        overflow: hidden;
        &:before {
            content: '';
            position: absolute;
            width: 3px;
            height: 100%;
            background-color: $deep-orange;
            top: 0;
            left: 1px;
        }

        &:last-child:before {
            left: 99%;
        }

        & > p.quote {
            font: {
                style: italic;
                size: 21px;
                weight: weight(light);
            }
        }
        &:last-child > p.quote {
            text-align: right;
        }
        
        & > p + div.owner-info {
            margin-top: 15px;
            @include flex(null, center);

            i {
                font-size: 23px;
            }
            div.info {
                margin-left: 5px;
                font: {
                    weight: weight(semibold);
                    size: 13px;
                }
                & > p.name {
                    span:first-child {
                        color: $green;
                    }

                    span:last-child {
                        color: $deep-orange;
                    }
                }
                a:link {
                    color: black;
                }
            }
        }
        &:first-child div.owner-info {
            justify-content: flex-end;
        }
    }
}
