div.quiz-solution-page {
    .top {
        @include flex(space-between, center);

        #back-to-levels {
            cursor: pointer;
            background: rgba($orange, .3);
            @include flex(center, center);
            color: $deep-orange;
            font-weight: weight(semibold);
            margin-right: 17px;
        }
        .center-text {
            text-align: center;
            p:first-child {
                text-transform: capitalize;
            }
            p:last-child {
                border-top: 1px dotted #000;
                border-bottom: 1px dotted #000;
                display: inline-block;
            }
        }
    }

    @include laptop {

    }

    @include mobile {
        overflow-y: auto;
        .top {
            position: fixed;
            top: 0;
            background: #fff;
            padding: 0 7%;
            width: 100%;
            height: 70px;
            border-radius: 0 0 15px 15px;
            box-shadow: 0 2px 2px rgba(#000, .25);

            #back-to-levels {
                width: 23%;
                height: 40px;
                border-radius: 32px;
                font-size: 13px;
    
            }
            div:empty {
                width: 23%;
            }
            .center-text {
                width: 54%;
                p:first-child {
                    font: {
                        size: 21px;
                        weight: weight(bold);
                    }
                }
                p:last-child {
                    font: {
                        size: 13px;
                        weight: weight(semibold);
                    }
                    margin-top: 3px;
                }
            }
        }
    }
}