div.quiz-solution-page {
    .top {
        @include flex(space-between, center);

        #back-to-levels {
            cursor: pointer;
            background: rgba($orange, .3);
            @include flex(center, center);
            color: $deep-orange;
            font-weight: weight(semibold);
            margin-right: 17px;
        }
        .center-text {
            text-align: center;
            p:first-child {
                text-transform: capitalize;
            }
            p:last-child {
                border-top: 1px dotted #000;
                border-bottom: 1px dotted #000;
                display: inline-block;
            }
        }
    }

    @include laptop {

    }

    @include mobile {
        overflow-y: auto;
        .top {
            position: fixed;
            top: 0;
            z-index: 1;
            background: #fff;
            padding: 0 7%;
            width: 100%;
            height: 70px;
            border-radius: 0 0 15px 15px;
            box-shadow: 0 2px 2px rgba(#000, .25);

            #back-to-levels {
                width: 23%;
                height: 40px;
                border-radius: 32px;
                font-size: 13px;
    
            }
            div:empty {
                width: 23%;
            }
            .center-text {
                width: 54%;
                p:first-child {
                    font: {
                        size: 21px;
                        weight: weight(bold);
                    }
                }
                p:last-child {
                    font: {
                        size: 13px;
                        weight: weight(semibold);
                    }
                    margin-top: 3px;
                }
            }
        }

        .solution-section {
            padding: 0 4%;
            margin-top: 80px;
            .filter-div {
                @include flex(flex-end);
    
                .filter-options {
                    border: 1px solid $deep-orange;
                    border-radius: 5px;
                    font-size: 13px;
                    color: $deep-orange;
                    font-weight: weight(medium);
                    @include flex();
    
                    span {
                        padding: 2px 10px;
    
                        &:nth-child(2) {
                            position: relative;
                            // z-index: -1;
                            &::before {
                                position: absolute;
                                content: '';
                                top: 0;
                                left: 0;
                                bottom: 0;
                                width: 1px;
                                background: $deep-orange;
                            }
                            &::after {
                                position: absolute;
                                content: '';
                                top: 0;
                                right: 0;
                                bottom: 0;
                                width: 1px;
                                background: $deep-orange;
                            }
                        }
                        &:nth-child(3) {
                            position: relative;
                            &::after {
                                position: absolute;
                                content: '';
                                top: 0;
                                right: 0;
                                bottom: 0;
                                width: 1px;
                                background: $deep-orange;
                            }
                        }
                    }
                    span.selected {
                        background: $deep-orange;
                        color: #fff;
                    }
                }
            }

            .overview {
                margin-top: 20px;
                & > p {
                    font: {
                        weight: weight(semibold);
                    }
                }
                .overview-box {
                    margin-top: 10px;
                    width: 100%;
                    background: $cream;
                    padding: 0 15px;
                    border: 1px solid transparent;
                    border-radius: 15px;
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);
                    
                    div {
                        @include flex(space-between);
                        margin: 10px 0;
                        
                        font: {
                            size: 15px;
                            weight: weight(medium);
                        }
                    }
                }
            }

            .answer-solutions {
                margin-top: 15px;
                & > p {
                    font: {
                        weight: weight(semibold);
                    }
                }
                .solution-box {
                    b {
                        font-weight: weight(semibold);
                    }
                    margin: 10px 0;
                    width: 100%;
                    background: $cream;
                    padding: 10px 15px;
                    border: 1px solid transparent;
                    border-radius: 15px;
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.17);

                    & > div:only-child {
                        .question-statement-with-code {
                            font-size: 17px;
                        }
                        .question-statement-without-code {
                            font-size: 19px;
                            margin-bottom: 10px;
                        }

                        #code-block {
                            margin: 10px 0;
                            font-size: 17px;

                            code {
                                border-radius: 7px;
                                height: 97px;
                            }
                        }

                        p[class*=answer] {
                            font: {
                                weight: weight(medium);
                                size: 17px;
                            }
                            .correct-mark {
                                color: green;
                            }
                            .incorrect-mark {
                                color: red;
                            }

                        }

                        div.explanation {
                            background: darken($cream, 10);
                            margin: 5px 0;
                            padding: 5px 0 5px 7px;
                            border-radius: 3px;
                            font-size: 17px;
                        }

                        p.links {
                            font-weight: weight(medium);
                            font-size: 15px;
                            a {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}