.quiz-languages-panel {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    overflow-y: auto;
    margin: 0 auto;
    z-index: 10;
    width: 250px;
    height: 350px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(#000, 0.17);
    padding: 7px 10px 10px;

    p {
        font-weight: weight(medium);
        font-size: 15px;
        color: rgb(209, 209, 209);
        padding-bottom: 2px;
        margin-bottom: 5px;
        border-bottom: 1px dotted;
    }

    .avail-langs {
        overflow-y: auto;
        @include flex();
        flex-wrap: wrap;        
    }

    button {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        outline: none;
        border: none;
        background: $deep-orange;
        width: 75px;
        height: 40px;
        margin: 5px auto 0;
        font-size: 16px;
        box-shadow: 0px 0px 4px rgba(#000, 0.17);
        font-weight: weight(medium);
        color: #fff;
        border-radius: 4px;
    }
}