#sound {
    color: $deep-orange;
    font-size: 17px;
    cursor: pointer;
    border-radius: 50%;
    @include flex(center, center);
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 5;
    top: 15px;
    left: 82%;
    &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background: #000;
        transform: rotate(-45deg);

        @keyframes spread {
            0%, 100% {
                top: -13px;
                left: -13px;
                right: -13px;
                bottom: -13px;
            } 50% {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
    background: rgba($orange, .2);

    @keyframes glow {
        0%, 100% {
            background: rgba($orange, .2);
        } 50% {
            background: rgba($orange, .1);
        }
    }
}
#sound.music-on {
    animation: glow 1s linear infinite;
    &::after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        background: rgba($orange, .1);
        border-radius: 50%;
        z-index: -1;
        transform: none;
        animation: spread 1s linear infinite;
    }
}